<template>
  <div v-if="dataLoaded">
    <Title title="PAKET" />
    <div class="flex flex-wrap overflow-hidden xl:-mx-6">
      <PaketCard
        class="my-12 px-4 md:px-12"
        v-for="(item, index) in paket"
        :key="index"
        :namaPaket="item.nama_paket"
        :keteranganPaket="item.keterangan_paket"
        :fotoPaket="item.foto_paket"
        :idPaket="item._id"
      />
    </div>
  </div>
  <Loading v-else />
</template>

<script>
export default {
  head: {
    title: "Paket — JMAudio",
  },
  data() {
    return {
      paket: [],
      dataLoaded: false,
    };
  },
  methods: {
    getData() {
      this.$store.dispatch("paket/getAllPaket").then((res) => {
        this.paket = res;
        this.dataLoaded = true;
      });
    },
  },
  mounted() {
    this.getData();
  },
};
</script>
