<template>
  <div>
    <div class="text-center pt-3 mt-5 pb-5">
      <h1 class="font-weight-light">{{ title }}</h1>
    </div>
    <client-only>
      <form-wizard
        v-if="wizard"
        @on-complete="onComplete"
        title=""
        subtitle=""
        back-button-text="Kembali"
        next-button-text="Selanjutnya"
        finish-button-text="Selesaikan pesanan"
      >
        <tab-content title="Persetujuan" :before-change="validateFirstStep">
          <div class="text-center">
            <h1 class="font-weight-light">Syarat dan ketentuan</h1>
            Berikut adalah syarat dan ketentuan yang harus Anda setujui sebelum
            membeli paket kami.
          </div>
          <ul class="pt-4">
            <li>
              Anda diharuskan membayar DP 20% dari total harga paket terlebih
              dahulu.
            </li>
            <li>Jika Anda membatalkan pembelian, maka DP hangus.</li>
            <li>Sisa pembayaran dibayarkan saat barang dikirimkan.</li>
          </ul>
          <b-form-checkbox
            id="checkbox-1"
            v-model="syaratKetentuan.status"
            name="checkbox-1"
            value="accepted"
            unchecked-value="not_accepted"
          >
            Saya setuju dengan syarat dan ketentuan yang berlaku.
          </b-form-checkbox>
        </tab-content>

        <tab-content title="Pilih tanggal" :before-change="validateDatePicker">
          <p>Kapan Anda akan menyewanya?</p>

          <date-range-picker
            v-model="dateRange"
            :date-format="dateFormat"
          ></date-range-picker>
        </tab-content>

        <tab-content title="Konfirmasi">
          <h4 class="pt-3 pb-3">Data Diri</h4>
          <table class="table table-borderless">
            <tr>
              <th width="30%">Nama:</th>
              <td>{{ loggedInUser.nama }}</td>
            </tr>
            <tr>
              <th width="30%">Nomor Telepon:</th>
              <td>{{ loggedInUser.nomor_telepon }}</td>
            </tr>
            <tr>
              <th width="30%">Alamat:</th>
              <td>{{ loggedInUser.alamat }}</td>
            </tr>
            <tr>
              <th width="30%">Kecamatan:</th>
              <td>{{ loggedInUser.kecamatan }}</td>
            </tr>
            <tr>
              <th width="30%">Kelurahan:</th>
              <td>{{ loggedInUser.kelurahan }}</td>
            </tr>
          </table>

          <h4 class="pt-3 pb-3">Pembelian</h4>
          <table class="table table-borderless">
            <thead>
              <tr>
                <th>Nama Paket</th>
                <th>Watt</th>
                <th>Hari</th>
                <th>Harga</th>
              </tr>
            </thead>
            <tr>
              <td>{{ paket.nama }}</td>
              <td>{{ paket.watt }}</td>
              <td>{{ hari }}</td>
              <td>{{ paket.harga | rupiah }}</td>
            </tr>
            <tr>
              <td colspan="3"><strong>Total Harga</strong></td>
              <td>{{ totalHarga | rupiah }}</td>
            </tr>
            <tr>
              <td colspan="3"><strong>Total bayar DP 20%</strong></td>
              <td>{{ dp | rupiah }}</td>
            </tr>
          </table>
          <div class="form-group">
            <label>Keterangan pembelian (jika ada):</label>
            <textarea
              cols="10"
              rows="5"
              v-model="keterangan"
              class="form-control"
            ></textarea>
          </div>
          <p>Silakan klik "Selesaikan pesanan" untuk memproses pesanan Anda.</p>
        </tab-content>
      </form-wizard>
      <template v-else>
        <table class="table table-borderless">
          <tr>
            <th width="30%">No Transaksi:</th>
            <td>{{ transaksi.no_transaksi }}</td>
          </tr>
          <tr>
            <th width="30%">Paket:</th>
            <td>{{ paket.nama }}</td>
          </tr>
          <tr>
            <th width="30%">Total:</th>
            <td>{{ transaksi.total | rupiah }}</td>
          </tr>
          <tr>
            <th width="30%">DP:</th>
            <td>
              {{ transaksi.dp | rupiah }}
              <b-link :to="'/transaksi/' + transaksi._id"
                >Bayar sekarang</b-link
              >
            </td>
          </tr>
        </table>
        <p>Silakan lakukan pembayaran DP sebelum</p>
      </template>
    </client-only>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  middleware: ['auth'],
  head() {
    return {
      title: 'Pembelian Paket — JMAudio',
    }
  },
  computed: {
    ...mapGetters(['loggedInUser']),
  },
  data() {
    return {
      wizard: true,
      title: '',
      keterangan: '',
      syaratKetentuan: {
        status: 'not_accepted',
      },
      paket_id: this.$route.params.id,
      paket: [],
      dateRange: {
        startDate: '',
        endDate: '',
      },
      hari: null,
      totalHarga: null,
      dp: null,
      transaksi: [],
    }
  },
  methods: {
    onComplete: function () {
      this.wizard = false
      this.title = 'Transaksi berhasil!'
      const data = {
        pelanggan: this.loggedInUser._id,
        paket: this.paket_id,
        dp: this.dp,
        total: this.totalHarga,
        tanggal: {
          dari: this.dateRange.startDate,
          sampai: this.dateRange.endDate,
        },
        keterangan: this.keterangan,
      }
      this.$store.dispatch('transaksi/create_transaksi', data).then((res) => {
        this.transaksi = res
      })
    },
    getData() {
      this.$store.dispatch('paket/get_paket', this.paket_id).then((res) => {
        this.paket = res
        this.title = 'Beli ' + res.nama
      })
    },
    validateFirstStep() {
      if (this.syaratKetentuan.status == 'accepted') {
        return true
      } else {
        return false
      }
    },
    validateDatePicker() {
      if (this.dateRange.startDate != '' && this.dateRange.endDate != '') {
        this.hari =
          (this.dateRange.endDate.getTime() -
            this.dateRange.startDate.getTime()) /
            (1000 * 3600 * 24) +
          1
        this.totalHarga = this.paket.harga * this.hari
        this.dp = this.totalHarga * (20 / 100)
        return true
      } else {
        return false
      }
    },
    dateFormat(classes, date) {
      if (!classes.disabled) {
        classes.disabled = date.getTime() < new Date()
      }
      return classes
    },
  },
  mounted() {
    this.getData()
  },
}
</script>