<template>
  <div>
    <div class="text-center pt-3 mt-5 pb-5">
      <h1 class="font-weight-light">{{ title }}</h1>
    </div>
    <b-breadcrumb :items="items" class="bg-white px-0"></b-breadcrumb>
    <div class="row">
      <div class="col-lg-8">
        <b-card>
          <b-carousel
            ref="myCarousel"
            id="carousel-1"
            :interval="4000"
            controls
            indicators
            background="#ababab"
            style="text-shadow: 1px 1px 2px #333"
          >
            <b-carousel-slide
              v-for="(barang, index) in paket.barang"
              :key="index"
              :caption="barang.data.nama"
              :img-src="'http://localhost:8080/barang/' + barang.data.foto"
            ></b-carousel-slide>
          </b-carousel>
          <p class="pt-4"><strong>Keterangan:</strong></p>
          <span v-html="paket.keterangan"></span>
        </b-card>
        <br />
      </div>
      <div class="col-lg">
        <b-card no-body>
          <b-card-header class="text-center"> Informasi </b-card-header>
          <b-card-body>
            <p><strong>Barang:</strong></p>
            <ul>
              <li v-for="(barang, index) in paket.barang" :key="index">
                {{ barang.jumlah }}x {{ barang.data.nama }}
              </li>
            </ul>
            <ul class="list-unstyled">
              <li><strong>Watt:</strong> {{ paket.watt }}</li>
              <li>
                <strong>Harga:</strong> {{ formatRupiah(paket.harga, 'Rp') }}
              </li>
            </ul>
          </b-card-body>
          <b-link :to="'/paket/' + id + '/beli'" class="text-decoration-none">
            <b-card-footer class="bg-danger text-white text-center">
              Beli Paket
            </b-card-footer>
          </b-link>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  head() {
    return {
      title: `${this.title} — JMAudio`,
    }
  },
  data() {
    return {
      items: [
        {
          text: 'Paket',
          href: '/paket',
        },
        {
          text: '',
          href: '#',
        },
      ],
      id: this.$route.params.id,
      title: 'Paket',
      paket: {
        barang: [],
        keterangan: '',
        watt: '',
        harga: '',
      },
    }
  },
  methods: {
    getData() {
      this.$store.dispatch('paket/get_paket', this.id).then((res) => {
        this.items[1].text = res.nama
        this.title = res.nama
        this.paket.keterangan = res.keterangan
        this.paket.barang = res.barang
        ;(this.paket.watt = res.watt), (this.paket.harga = res.harga)
      })
    },
    formatRupiah(angka, prefix) {
      var number_string = angka.toString().replace(/[^,\d]/g, ''),
        split = number_string.split(','),
        sisa = split[0].length % 3,
        rupiah = split[0].substr(0, sisa),
        ribuan = split[0].substr(sisa).match(/\d{3}/gi)

      if (ribuan) {
        let separator = sisa ? '.' : ''
        rupiah += separator + ribuan.join('.')
      }

      rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah
      return prefix == undefined ? rupiah : rupiah ? 'Rp. ' + rupiah : ''
    },
    prev() {
      this.$refs.myCarousel.prev()
    },
    next() {
      this.$refs.myCarousel.next()
    },
  },
  mounted() {
    this.getData()
  },
}
</script>

<style>
.carousel-item img {
  height: 450px !important ;
}
</style>
