<template>
  <b-carousel
    ref="myCarousel"
    id="carousel-1"
    :interval="4000"
    controls
    indicators
    background="#ababab"
    img-width="1024"
    img-height="480"
    style="text-shadow: 1px 1px 2px #333"
  >
    <b-carousel-slide
      caption="Event 1"
      img-src="~/assets/images/galeri/1.jpg"
    ></b-carousel-slide>
    <b-carousel-slide
      caption="Event 2"
      img-src="~/assets/images/galeri/2.jpg"
    ></b-carousel-slide>
  </b-carousel>
</template>

<script>
export default {
  // ...
  methods: {
    prev() {
      this.$refs.myCarousel.prev()
    },
    next() {
      this.$refs.myCarousel.next()
    },
  },
}
</script>