<template>
  <div>
    <b-navbar toggleable="lg" type="light" variant="white" class="px-0">
      <b-navbar-brand href="#">JMAudio</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <!-- <b-nav-item href="#">Beranda</b-nav-item> -->
          <li clas="nav-item">
            <b-link
              to="/"
              exact
              exact-active-class="text-danger"
              class="nav-link pl-0"
              >Beranda</b-link
            >
          </li>
          <b-nav-item to="/tentang-kami" exact exact-active-class="text-danger"
            >Tentang Kami</b-nav-item
          >
          <b-nav-item to="/paket" exact exact-active-class="text-danger"
            >Paket</b-nav-item
          >
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <template v-if="isAuthenticated">
            <b-nav-item to="/transaksi" exact exact-active-class="text-danger"
              >Transaksi Saya</b-nav-item
            >
            <b-nav-item-dropdown right>
              <template #button-content>
                {{ loggedInUser.nama }}
              </template>
              <b-dropdown-item to="/profil">Profil</b-dropdown-item>
              <b-dropdown-item @click="logout">Keluar</b-dropdown-item>
            </b-nav-item-dropdown>
          </template>
          <template v-else>
            <b-nav-item to="/login" exact exact-active-class="text-danger"
              >Masuk / Daftar</b-nav-item
            >
          </template>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Navbar',
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser']),
  },
  methods: {
    async logout() {
      await this.$auth.logout()
    },
  },
}
</script>

<style>
@media (min-width: 768px) {
  .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
</style>
