.price-box {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}
.price-box ul {
  padding: 10px 0px 30px;
  margin: 17px 0 0 0;
  list-style: none;
  border-top: solid 1px #e9e9e9;
}
.price-box ul li {
  padding: 7px 0;
  font-size: 14px;
  color: #808080;
}
.price-box ul li .fas {
  color: #68ae4a;
  margin-right: 7px;
  font-size: 12px;
}
.price-label {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.34;
  margin-bottom: 0;
  padding: 6px 15px;
  display: inline-block;
  border-radius: 3px;
}
.price-label.normal {
  background: #e8eaf6;
  color: #2d3436;
}
.price-label.basic {
  background: #e8eaf6;
  color: #3f51b5;
}
.price-label.value {
  background: #e8f5e9;
  color: #4caf50;
}
.price-label.premium {
  background: #fbe9e7;
  color: #ff5722;
}
.price {
  font-size: 44px;
  line-height: 44px;
  margin: 15px 0 6px;
  font-weight: 900;
}
.price-info {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.67;
  color: inherit;
  width: 100%;
  margin: 0;
  color: #989898;
}
.plan-btn {
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  padding: 11px 30px;
  border: 2px solid #b3b3b3;
  color: #000;
  margin-top: 5px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin: 0;
  border-radius: 5px;
  text-decoration: none;
  width: 100%;
  text-align: center;
  font-size: 14px;
}
.plan-btn::after {
  position: absolute;
  left: -100%;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  background: #000;
  z-index: -1;
  transition: all 0.35s ease-in-out;
}
.plan-btn:hover::after {
  left: 0;
}
.plan-btn:hover,
.plan-btn:focus {
  text-decoration: none;
  color: #fff;
  border: 2px solid #000;
}
@media (max-width: 991px) {
  .price-box {
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .main-heading {
    font-size: 21px;
  }
  .price-box {
    margin-bottom: 20px;
  }
}
