<template>
  <div v-if="dataLoaded" class="px-4">
    <div v-if="pembelian">
      <Title :title="'Beli ' + paket.judul" />
      <SuccessAlert
        pesan="Sebelum membuat pesanan, pastikan alamat Anda sudah benar."
      />
      <h2 class="font-medium font-sans py-4">Data Diri:</h2>
      <div class="text-gray-700">
        <div class="grid md:grid-cols-2 text-sm">
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Nama</div>
            <div class="px-4 py-2">{{ loggedInUser.nama_pelanggan }}</div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Surel</div>
            <div class="px-4 py-2">
              <a class="text-blue-800" :href="'mailto:' + loggedInUser.email_pelanggan">{{
                loggedInUser.email_pelanggan
              }}</a>
            </div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Alamat</div>
            <div class="px-4 py-2">{{ loggedInUser.alamat_pelanggan }}</div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Kecamatan</div>
            <div class="px-4 py-2">{{ loggedInUser.kecamatan_pelanggan }}</div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Kelurahan</div>
            <div class="px-4 py-2">{{ loggedInUser.kelurahan_pelanggan }}</div>
          </div>
        </div>
      </div>

      <h2 class="font-medium font-sans py-2">Sewa:</h2>
      <div class="lg:grid lg:grid-cols-2 lg:gap-4 lg:max-w-lg">
        <div class="px-4">
          <p class="py-2">Dari Tanggal:</p>
          <client-only
            ><date-picker
              placeholder="DD/MM/YYYY"
              :input-class="'w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300'"
              v-model.lazy="dariTanggal"
              :disabled-dates="disabledDates"
          /></client-only>
        </div>
        <div class="px-4">
          <p class="py-2">Sampai Tanggal:</p>
          <client-only
            ><date-picker
              placeholder="DD/MM/YYYY"
              :input-class="'w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300'"
              v-model.lazy="sampaiTanggal"
              :disabled-dates="disabledDates"
          /></client-only>
        </div>
      </div>

      <h2 class="font-medium font-sans py-4">Detail Pemesanan:</h2>
      <div class="text-gray-700">
        <div class="grid md:grid-cols-2 text-sm">
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Nama Paket</div>
            <div class="px-4 py-2">{{ paket.judul }}</div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Watt</div>
            <div class="px-4 py-2">
              {{ paket.watt }}
            </div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Harga</div>
            <div class="px-4 py-2">{{ paket.hargaRupiah }}</div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Sewa</div>
            <div class="px-4 py-2">{{ totalHari }} hari</div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Total Harga</div>
            <div class="px-4 py-2">{{ totalHargaRupiah }}</div>
          </div>
        </div>
        <div class="px-4 py-2 font-semibold text-sm">
          Catatan Pemesanan (Jika ada)
        </div>
        <div class="px-4 py-2">
          <textarea
            class="w-4/12 px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300"
            v-model="keteranganPembelian"
          >
          </textarea>
        </div>
        <div class="px-4 py-2 text-right">
          <button
            class="bg-indigo-500 text-white w-2/12 px-2 py-2 hover:bg-indigo-800 rounded-full"
            :disabled="!sudahAdaHarga"
            @click="prosesPembelian"
          >
            Buat Pesanan
          </button>
        </div>
      </div>
    </div>

    <div v-else class="min-w-full">
      <Title title="Transaksi berhasil!" />
      <img class="my-6 object-contain h-96 w-full" :src="celebration" />
      <div class="text-center py-4">
        <nuxt-link
          :to="'/transaksi/' + idTransaksi"
          type="button"
          class="lg:w-1/6 px-2 py-2 text-white bg-indigo-500 rounded-full focus:bg-indigo-600 focus:outline-none"
        >
          Bayar sekarang
        </nuxt-link>
      </div>
    </div>
  </div>
  <Loading v-else />
</template>


<script>
import { mapGetters } from "vuex";
import aosMixin from "~/mixins/aos";
import celebration from "@/assets/img/celebration.svg";

export default {
  mixins: [aosMixin],
  middleware: ["auth"],
  head() {
    return {
      title: `${this.paket.judul} — JMAudio`,
    };
  },
  computed: {
    ...mapGetters(["loggedInUser"]),
  },
  data() {
    return {
      id: this.$route.params.id,
      paket: {
        judul: "Paket",
        barang: [],
        keterangan: null,
        watt: null,
        harga: null,
        foto: null,
        hargaRupiah: "",
      },
      dariTanggal: "",
      sampaiTanggal: "",
      totalHari: 0,
      totalHargaRupiah: "",
      sudahAdaHarga: false,
      keteranganPembelian: "",
      disabledDates: {
        to: new Date(Date.now()),
      },
      celebration: celebration,
      pembelian: true,
      idTransaksi: "",
      dataLoaded: false,
    };
  },
  methods: {
    formatTanggal(value, event) {
      return $moment(value).format("DD-MM-YYYY");
    },
    getData() {
      this.$store.dispatch("paket/getPaket", this.id).then((res) => {
        this.paket.judul = res.nama_paket;
        this.paket.keterangan = res.keterangan_paket;
        this.paket.barang = res.barang_paket;
        this.paket.watt = res.watt_paket;
        this.paket.foto = res.foto_paket;
        this.paket.hargaRupiah = this.formatRupiah(res.harga_paket, "Rp.");
        this.paket.harga = res.harga_paket;
        this.totalHargaRupiah = this.formatRupiah(res.harga_paket, "Rp.");
        this.dataLoaded = true;
      });
    },
    hitungTotalHarga(harga) {
      this.totalHargaRupiah = this.formatRupiah(harga, "Rp.");
    },
    formatRupiah(angka, prefix) {
      let angkaString = angka.toString().replace(/[^,\d]/g, ""),
        split = angkaString.split(","),
        sisa = split[0].length % 3,
        rupiah = split[0].substr(0, sisa),
        ribuan = split[0].substr(sisa).match(/\d{3}/gi);

      if (ribuan) {
        let separator = sisa ? "." : "";
        rupiah += separator + ribuan.join(".");
      }

      rupiah = split[1] != undefined ? rupiah + "," + split[1] : rupiah;
      return prefix == undefined ? rupiah : rupiah ? "Rp. " + rupiah : "";
    },
    prosesPembelian() {
      const data = {
        paket_transaksi: this.id,
        tanggal_transaksi: {
          dari: this.dariTanggal,
          sampai: this.sampaiTanggal,
        },
        catatan_transaksi: this.keteranganPembelian,
        pelanggan_id: this.loggedInUser._id,
      };

      this.$store.dispatch("paket/beliPaket", data).then((res) => {
        this.pembelian = false;
        this.idTransaksi = res._id;
      });
    },
  },
  mounted() {
    this.getData();
  },
  watch: {
    dariTanggal: function (val) {
      if (this.sampaiTanggal != "") {
        const dariTanggal = this.$moment(this.dariTanggal);
        const sampaiTanggal = this.$moment(this.sampaiTanggal);
        this.totalHari =
          this.$moment.duration(sampaiTanggal.diff(dariTanggal)).asDays() + 1;

        let totalHarga = this.totalHari * this.paket.harga;
        this.hitungTotalHarga(totalHarga);
        this.sudahAdaHarga = true;
      }
    },
    sampaiTanggal: function (val) {
      if (this.dariTanggal != "") {
        const dariTanggal = this.$moment(this.dariTanggal);
        const sampaiTanggal = this.$moment(this.sampaiTanggal);
        this.totalHari =
          this.$moment.duration(sampaiTanggal.diff(dariTanggal)).asDays() + 1;

        let totalHarga = this.totalHari * this.paket.harga;
        this.hitungTotalHarga(totalHarga);
        this.sudahAdaHarga = true;
      }
    },
  },
};
</script>