<template>
  <div v-if="dataLoaded" data-aos="zoom-y-out">
    <Title :title="paket.judul" />
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
      <div class="col-span-2">
        <div class="m-auto py-8 px-4">
          <div class="bg-white">
            <div>
              <img
                class="object-fill h-96 w-full"
                :src="this.$config.serverURL + '/paket/' + paket.foto"
              />
            </div>
            <div class="py-2 mt-2 bg-white">
              <div
                class="sm:text-sm text-gray-700 mr-1 my-3"
                v-html="paket.keterangan"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="m-auto max-w-xl py-6">
          <div class="bg-white">
            <div class="px-4">
              <h2 class="text-2xl text-gray-800 text-center">Informasi</h2>
              <p><strong>Barang:</strong></p>
              <ul class="py-2">
                <li v-for="(barang, index) in paket.barang" :key="index">
                  {{ barang.jumlah_barang }}x {{ barang.data_barang.nama_barang }}
                </li>
              </ul>

              <ul class="py-2">
                <li class="py-2"><strong>Watt:</strong> {{ paket.watt }}</li>
                <li class="py-2">
                  <strong>Harga:</strong> {{ paket.harga }}/hari
                </li>
              </ul>
            </div>
            <nuxt-link :to="'/paket/' + id + '/beli'">
              <button
                class="bg-indigo-500 text-white w-full px-2 py-2 hover:bg-indigo-800 rounded-full"
              >
                Beli
              </button>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
  <Loading v-else />
</template>

<script>
import aosMixin from "~/mixins/aos";

export default {
  mixins: [aosMixin],
  head() {
    return {
      title: `${this.paket.judul} — JMAudio`,
    };
  },
  data() {
    return {
      id: this.$route.params.id,
      paket: {
        judul: "Paket",
        barang: [],
        keterangan: null,
        watt: null,
        harga: null,
        foto: null,
      },
      dataLoaded: false,
    };
  },
  methods: {
    getData() {
      this.$store.dispatch("paket/getPaket", this.id).then((res) => {
        this.paket.judul = res.nama_paket;
        this.paket.keterangan = res.keterangan_paket;
        this.paket.barang = res.barang_paket;
        this.paket.watt = res.watt_paket;
        this.paket.foto = res.foto_paket;
        this.paket.harga = this.formatRupiah(res.harga_paket, "Rp.");
        this.dataLoaded = true;
      });
    },
    formatRupiah(angka, prefix) {
      var number_string = angka.toString().replace(/[^,\d]/g, ""),
        split = number_string.split(","),
        sisa = split[0].length % 3,
        rupiah = split[0].substr(0, sisa),
        ribuan = split[0].substr(sisa).match(/\d{3}/gi);

      if (ribuan) {
        let separator = sisa ? "." : "";
        rupiah += separator + ribuan.join(".");
      }

      rupiah = split[1] != undefined ? rupiah + "," + split[1] : rupiah;
      return prefix == undefined ? rupiah : rupiah ? "Rp. " + rupiah : "";
    },
  },
  mounted() {
    this.getData();
  },
};
</script>