<template>
  <div class="main-content">
    <section class="section">
      <div class="section-header">
        <h1>{{ title }}</h1>
      </div>
      <div class="section-body">
        <slot></slot>
      </div>
    </section>
  </div>
</template>


<script>
export default {
  props: {
    title: String,
  },
};
</script>
