<template>
  <nav class="navbar navbar-expand-lg main-navbar">
    <ul class="navbar-nav mr-3">
      <li>
        <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg">
          <i class="fas fa-bars"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right ml-auto">
      <li class="dropdown">
        <a
          href="#"
          data-toggle="dropdown"
          class="nav-link dropdown-toggle nav-link-lg nav-link-user"
        >
          <img
            v-if="user.photo"
            alt="image"
            :src="serverURL + '/user_img/' + user.foto_user"
            class="rounded-circle mr-1"
          />
          <img
            v-else
            alt="image"
            :src="`https://ui-avatars.com/api/?background=fc544b&color=fff&name=${user.nama_user}`"
            class="rounded-circle mr-1"
          />
          <div class="d-sm-none d-lg-inline-block">{{ user.nama_user }}</div>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-title">
            Terakhir masuk
            <label class="text-danger">{{ userLastAccess }}</label>
          </div>
          <router-link to="/my" class="dropdown-item has-icon">
            <i class="far fa-user"></i> Profilku
          </router-link>
          <a
            href="#"
            class="dropdown-item has-icon text-danger"
            @click.prevent="logoutMethod"
          >
            <i class="fas fa-sign-out-alt"></i> Keluar
          </a>
        </div>
      </li>
    </ul>
  </nav>
</template>

<script>
import moment from "moment";
import { mapActions, mapGetters } from "vuex";

export default {
  computed: mapGetters(["user", "lastAccess"]),
  data: function () {
    return {
      userLastAccess: null,
      serverURL: process.env.VUE_APP_API_URL
    };
  },
  methods: {
    ...mapActions(["logout", "getUserData"]),
    logoutMethod: function () {
      this.logout();
    },
  },
  created() {
    this.getUserData();
  },
  async mounted() {
    moment.locale("id");
    this.userLastAccess = this.lastAccess
      ? moment(this.lastAccess).calendar()
      : "Ini pertama kalinya kamu masuk.";
  },
};
</script>
