<template>
  <div class="container mt-5">
    <div class="page-error">
      <div class="page-inner">
        <h1>404</h1>
        <div class="page-description">
          The page you were looking for could not be found.
        </div>
        <div class="page-search">
          <div class="mt-3">
            <a href="#" @click="goback">Go back.</a>
          </div>
        </div>
      </div>
    </div>
    <div class="simple-footer mt-5">Copyright &copy; MyPerpus 2020</div>
  </div>
</template>

<script>
export default {
  methods: {
    goback: function () {
      this.$router.go(-1);
    },
  },
};
</script>