<template>
  <div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <a href="#">JMAudio</a>
      </div>
      <div class="sidebar-brand sidebar-brand-sm">
        <a href="#">JM</a>
      </div>
      <ul class="sidebar-menu">
        <li class="menu-header">Dashboard</li>
        <router-link to="/" v-slot="{ href, navigate, isExactActive }">
          <li :class="isExactActive && 'active'">
            <a :class="'nav-link'" :href="href" @click="navigate">
              <i class="fas fa-fire"></i>
              <span>Beranda</span>
            </a>
          </li>
        </router-link>

        <li v-if="isAdmin()" class="menu-header">Administrator</li>
        <router-link to="/pengguna" v-slot="{ href, navigate }">
          <li
            v-if="isAdmin()"
            :class="[
              currentPage.includes('pengguna') ? 'active' : '',
              'dropdown',
            ]"
          >
            <a :class="'nav-link'" :href="href" @click="navigate">
              <i class="fas fa-user-shield"></i>
              <span>Pengguna</span>
            </a>
          </li>
        </router-link>
        <li
          v-if="isAdmin()"
          :class="[currentPage.includes('barang') ? 'active' : '', 'dropdown']"
        >
          <a href="#" class="nav-link has-dropdown" data-toggle="dropdown">
            <i class="fas fa-box"></i>
            <span>Barang</span>
          </a>
          <ul class="dropdown-menu">
            <router-link
              to="/barang"
              v-slot="{ href, navigate, isExactActive }"
            >
              <li :class="isExactActive && 'active'">
                <a :class="'nav-link'" :href="href" @click="navigate">
                  <span>Data Barang</span>
                </a>
              </li>
            </router-link>
            <router-link
              to="/jenis-barang"
              v-slot="{ href, navigate, isExactActive }"
            >
              <li :class="isExactActive && 'active'">
                <a :class="'nav-link'" :href="href" @click="navigate">
                  <span>Jenis Barang</span>
                </a>
              </li>
            </router-link>
            <router-link
              to="/merek-barang"
              v-slot="{ href, navigate, isExactActive }"
            >
              <li :class="isExactActive && 'active'">
                <a :class="'nav-link'" :href="href" @click="navigate">
                  <span>Merek Barang</span>
                </a>
              </li>
            </router-link>
          </ul>
        </li>
        <router-link to="/paket" v-slot="{ href, navigate }">
          <li
            v-if="isAdmin()"
            :class="[currentPage.includes('paket') ? 'active' : '', 'dropdown']"
          >
            <a :class="'nav-link'" :href="href" @click="navigate">
              <i class="fas fa-boxes"></i>
              <span>Paket</span>
            </a>
          </li>
        </router-link>
        <router-link to="/rekening" v-slot="{ href, navigate }">
          <li
            v-if="isAdmin()"
            :class="[
              currentPage.includes('rekening') ? 'active' : '',
              'dropdown',
            ]"
          >
            <a :class="'nav-link'" :href="href" @click="navigate">
              <i class="fas fa-money-check-alt"></i>
              <span>Rekening</span>
            </a>
          </li>
        </router-link>

        <!-- Pegawai Menus -->
        <li class="menu-header">Main</li>
        <router-link to="/pelanggan" v-slot="{ href, navigate, isExactActive }">
          <li :class="isExactActive && 'active'">
            <a :class="'nav-link'" :href="href" @click="navigate">
              <i class="fas fa-users"></i>
              <span>Pelanggan</span>
            </a>
          </li>
        </router-link>
        <router-link to="/galeri" v-slot="{ href, navigate, isExactActive }">
          <li :class="isExactActive && 'active'">
            <a :class="'nav-link'" :href="href" @click="navigate">
              <i class="fas fa-images"></i>
              <span>Galeri</span>
            </a>
          </li>
        </router-link>
        <router-link to="/transaksi" v-slot="{ href, navigate, isExactActive }">
          <li :class="isExactActive && 'active'">
            <a :class="'nav-link'" :href="href" @click="navigate">
              <i class="fas fa-cart-arrow-down"></i>
              <span>Transaksi</span>
            </a>
          </li>
        </router-link>
        <router-link to="/laporan" v-slot="{ href, navigate, isExactActive }">
          <li :class="isExactActive && 'active'">
            <a :class="'nav-link'" :href="href" @click="navigate">
              <i class="fas fa-chart-line"></i>
              <span>Laporan</span>
            </a>
          </li>
        </router-link>
      </ul>
    </aside>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters(["userLevel"]),
    currentPage() {
      return this.$route.path;
    },
  },
  data: function () {
    return {
      level: null,
    };
  },
  methods: {
    isAdmin: function () {
      return this.userLevel == "Admin";
    },
  },
};
</script>
