<template>
  <Content title="Paket">
    <div class="card">
      <div class="card-header">
        <router-link to="/paket/tambah" class="btn btn-primary">
          Tambah Data Paket
        </router-link>
      </div>
      <div class="card-body">
        <table class="table table-striped" id="table">
          <thead>
            <tr>
              <th>No</th>
              <th>Nama</th>
              <th>Watt</th>
              <th>Harga</th>
              <th class="text-right">Aksi</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </Content>
</template>

<script>
import $ from "jquery";
import swal from "sweetalert";

import "datatables/media/css/jquery.dataTables.css";
import "datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css";
import "datatables.net-select-bs4/css/select.bootstrap4.min.css";

import "datatables/media/js/jquery.dataTables";
import "datatables.net-responsive-bs4/js/responsive.bootstrap4";
import "datatables.net-select-bs4/js/select.bootstrap4";

import { mapActions } from "vuex";
import Content from "@/components/Content";

export default {
  components: {
    Content,
  },
  data() {
    return {
      dataTable: null,
    };
  },
  methods: {
    ...mapActions(["get_all_paket", "delete_paket"]),
    getData() {
      this.get_all_paket().then((data) => {
        let number = 1;
        data.forEach((data) => {
          this.dataTable.row
            .add([
              number++,
              data.nama_paket,
              this.formatRupiah(data.watt_paket),
              this.formatRupiah(data.harga_paket, "Rp. "),
              `<div class="btn-group float-right" role="group">` +
                `<button type="button" class="btn btn-success" id="edit" itemId="${data._id}">Ubah</button>` +
                `<button type="button" class="btn btn-danger" id="delete" itemId="${data._id}">Hapus</button>` +
                `</div>`,
            ])
            .draw(false);
        });
      });
    },
    refreshDataTable() {
      this.dataTable.rows().remove().draw();
      this.getData();
      return;
    },
    formatRupiah(angka, prefix) {
      var number_string = angka.toString().replace(/[^,\d]/g, ""),
        split = number_string.split(","),
        sisa = split[0].length % 3,
        rupiah = split[0].substr(0, sisa),
        ribuan = split[0].substr(sisa).match(/\d{3}/gi);

      if (ribuan) {
        let separator = sisa ? "." : "";
        rupiah += separator + ribuan.join(".");
      }

      rupiah = split[1] != undefined ? rupiah + "," + split[1] : rupiah;
      return prefix == undefined ? rupiah : rupiah ? "Rp. " + rupiah : "";
    },
    deleteItem(id) {
      return this.delete_paket(id);
    },
  },
  mounted() {
    const self = this;
    this.dataTable = $("#table").DataTable({
      responsive: true,
    });
    this.getData();
    $("#table tbody").on("click", "#delete", function () {
      let data = self.dataTable.row($(this).parents("tr")).data();
      let itemId = $(this).attr("itemId");
      swal({
        title: `Hapus ${data[1]} ?`,
        text: "Data yang sudah dihapus tidak dapat dikembalikan lagi!",
        icon: "warning",
        buttons: ["Batal", "Hapus"],
        dangerMode: true,
      }).then(async (willDelete) => {
        if (willDelete) {
          let deleteItem = await self.deleteItem(itemId);
          if (deleteItem) {
            swal("Terhapus!", `${deleteItem}`, "success").then(() => {
              self.refreshDataTable();
            });
          } else {
            swal("Error!", `Error: ${deleteItem}`, "error");
          }
        }
      });
    });
    $("#table tbody").on("click", "#edit", function () {
      let itemId = $(this).attr("itemId");
      self.$router.push(`/paket/${itemId}`);
    });
  },
};
</script>

<style>
/* Temporarily Hide Ugly Black Background At Navigation */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: none !important;
  background-color: transparent !important;
  background: transparent !important;
}

/* Center text */
table.dataTable tbody td {
  vertical-align: middle;
}
</style>
