<template>
  <Content title="Ubah Paket">
    <div class="alert alert-danger alert-dismissible show fade" v-if="error">
      <div class="alert-body">
        <button class="close" data-dismiss="alert">
          <span>×</span>
        </button>
        {{ error }}
      </div>
    </div>
    <!-- Informasi Paket -->
    <h2 class="section-title">Informasi Paket</h2>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-2">
            <div class="form-group">
              <label>Pratinjau</label>
              <img
                v-if="selectedImage"
                :src="imagePreview"
                class="rounded img-responsive img-preview"
                alt="Image Preview"
                width="100%"
                height="122"
              />
              <img
                v-else
                :src="originalImage"
                class="rounded img-responsive img-preview"
                alt="Image Preview"
                width="100%"
                height="148"
              />
            </div>
            <div class="form-group mt-4">
              <label class="float-right">
                <a
                  v-if="selectedImage"
                  href="#"
                  data-toggle="tooltip"
                  title="Klik di sini untuk menghapus foto."
                  @click="clearImage"
                >
                  <code class="text-right">Hapus foto</code>
                </a>
              </label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-file-image"></i>
                  </div>
                </div>
                <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    @change="onImageSelected"
                    accept="image/*"
                  />
                  <label class="custom-file-label">Pilih foto</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label>Nama</label>
              <input type="text" class="form-control" v-model="nama" />
            </div>
            <div class="form-group">
              <label>Watt</label>
              <cleave
                v-model="watt"
                class="form-control"
                :options="options.numericFormat"
              ></cleave>
            </div>
            <div class="form-group">
              <label>Harga</label>
              <cleave
                v-model="harga"
                class="form-control"
                :options="options.numericFormat"
              ></cleave>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>Keterangan</label>
              <textarea id="summernote"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h2 class="section-title">Barang</h2>
    <!-- Row untuk layout barang -->
    <div class="row">
      <div class="col-lg-4">
        <!-- Daftar Barang -->
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped" id="daftarBarangTable">
                <thead>
                  <tr>
                    <th>No Seri</th>
                    <th>Foto</th>
                    <th>Nama</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <!-- Barang untuk paket -->
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Jumlah</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="this.barang == ''">
                    <td colspan="5" class="text-center">Kosong</td>
                  </tr>
                  <tr v-for="(barang, index) in barang" :key="index">
                    <td scope="row">{{ diMulaiDariSatuYa(index) }}</td>
                    <td><img :src="barang.foto_barang" width="50" height="50" /></td>
                    <td>{{ barang.nama_barang }}</td>
                    <td width="200">
                      <cleave
                        v-model="barang.jumlah_barang"
                        class="form-control"
                        :options="options.numericFormat"
                      ></cleave>
                    </td>
                    <td class="text-right">
                      <button
                        type="button"
                        class="btn btn-danger"
                        @click="removeBarang(index)"
                      >
                        Hapus
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card rounded">
      <div class="card-footer text-right">
        <button class="btn btn-primary" @click="ubahPaket">Simpan Paket</button>
      </div>
    </div>
  </Content>
</template>

<script>
import $ from "jquery";
import Cleave from "@/components/Cleave.js";
import swal from "sweetalert";

import "datatables/media/css/jquery.dataTables.css";
import "datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css";
import "datatables.net-select-bs4/css/select.bootstrap4.min.css";

import "datatables/media/js/jquery.dataTables";
import "datatables.net-responsive-bs4/js/responsive.bootstrap4";
import "datatables.net-select-bs4/js/select.bootstrap4";

import "summernote/dist/summernote-bs4.css";
import "summernote/dist/summernote-bs4";

import { mapActions } from "vuex";
import Content from "@/components/Content";

export default {
  components: {
    Content,
    Cleave,
  },
  data: function () {
    return {
      id: this.$route.params.id,
      nama: "",
      watt: "",
      keterangan: "",
      harga: "",
      barang: [],
      daftarBarang: null,
      options: {
        numericFormat: {
          numeral: true,
          numeralThousandsGroupStyle: "thousand",
        },
      },
      error: "",
      selectedImage: null,
      imagePreview: null,
      originalImage: null,
    };
  },
  methods: {
    ...mapActions([
      "get_all_barang",
      "get_barang",
      "get_paket",
      "update_paket",
    ]),
    onImageSelected(event) {
      this.selectedImage = event.target.files[0];
      this.imagePreview =
        this.selectedImage != null
          ? URL.createObjectURL(this.selectedImage)
          : this.originalImage;
    },
    clearImage() {
      this.selectedImage = null;
      this.imagePreview = this.originalImage;
    },
    getDataBarang() {
      this.get_all_barang().then((data) => {
        data.forEach((data) => {
          this.daftarBarang.row
            .add([
              data.no_seri_barang,
              `<img src="${process.env.VUE_APP_API_URL}/barang/${data.foto_barang}" width="60" height="60"/>`,
              data.nama_barang,
              `<button type="button" class="btn btn-primary" id="tambah" itemId="${data._id}">Tambah</button>`,
            ])
            .draw(false);
        });
      });
    },
    addBarang(barangID) {
      this.get_barang(barangID).then((data) => {
        // Cari index arraynya
        const arrayIndex = this.barang
          .map(function (e) {
            return e.data_barang._id;
          })
          .indexOf(data._id);

        // Kalau tidak ada data, maka indexnya -1
        if (arrayIndex === -1) {
          this.barang.push({
            data_barang: {
              _id: data._id,
            },
            nama_barang: data.nama_barang,
            foto_barang: process.env.VUE_APP_API_URL + "/barang/" + data.foto_barang,
            jumlah_barang: 1,
          });
        } else {
          // Jika ada data array, maka tambahkan jumlahnya
          this.barang[arrayIndex].jumlah_barang++;
        }
      });
    },
    removeBarang(index) {
      const arrayBarang = this.barang;
      // Cari array berdasarkan indexnya
      const indexArray = arrayBarang.map(function (e) {
        return e.id === index;
      });
      // Jika ada datanya, maka hapus
      if (indexArray.length > 0) {
        arrayBarang.splice(index, 1);
      }
    },
    diMulaiDariSatuYa(index) {
      return ++index;
    },
    getPaket() {
      this.get_paket(this.id).then((res) => {
        this.nama = res.nama_paket;
        this.watt = res.watt_paket;
        this.keterangan = res.keterangan_paket;
        this.harga = res.harga_paket;
        this.originalImage = `${process.env.VUE_APP_API_URL}/paket/${res.foto_paket}`;
        for (let i = 0; i < res.barang_paket.length; i++) {
          this.barang.push({
            data_barang: res.barang_paket[i].data_barang,
            nama_barang: res.barang_paket[i].data_barang.nama_barang,
            foto_barang:
              process.env.VUE_APP_API_URL +
              "/barang/" +
              res.barang_paket[i].data_barang.foto_barang,
            jumlah_barang: res.barang_paket[i].jumlah_barang,
          });
        }
        $("textarea#summernote").summernote("code", res.keterangan_paket);
      });
    },
    ubahPaket() {
      if (this.validateBeforeSendData()) {
        // Saring barangnya sesuai permintaan backend
        const newBarang = this.barang.map(function (item) {
          delete item.nama;
          delete item.foto;
          return item;
        });
        const data = new FormData();
        data.set("id", this.id);
        data.set("nama_paket", this.nama);
        data.set("watt_paket", this.watt);
        data.set("keterangan_paket", this.keterangan);
        data.set("harga_paket", this.harga);
        data.set(
          "barang_paket",
          JSON.stringify(newBarang, (key, value) => {
            return key === "barang_paket" ? +value : value;
          })
        );
        if (this.selectedImage)
          data.append("foto_paket", this.selectedImage, this.selectedImage.name);

        this.update_paket(data)
          .then((res) => {
            swal("Berhasil!", `${res}`, "success")
              .then(() => {
                this.$router.push("/paket");
              })
              .catch((err) => {
                this.error = err.response.data.message;
              });
          })
          .catch((err) => {
            swal(
              `Error ${err.response.status}`,
              `${err.response.data.message}`,
              "error"
            );
          });
      } else {
        this.error = "Harap isi semua form yang disediakan!";
      }
    },
    validateBeforeSendData() {
      if (
        this.nama == "" ||
        this.watt == "" ||
        this.keterangan == "" ||
        this.harga == "" ||
        this.barang == ""
      ) {
        return false;
      } else {
        return true;
      }
    },
    summerNote() {
      const vm = this;
      const options = {
        lang: "id-ID",
        height: 200,
        dialogsInBody: true,
        fontSizes: [
          "8",
          "9",
          "10",
          "11",
          "12",
          "13",
          "14",
          "15",
          "16",
          "18",
          "20",
          "24",
          "30",
          "36",
          "48",
          "64",
          "82",
          "150",
        ],
        toolbar: [
          [
            "font",
            [
              "bold",
              "underline",
              "clear",
              "strikethrough",
              "superscript",
              "subscript",
            ],
          ],
          ["fontname", ["fontname"]],
          ["table", ["table"]],
          ["color", ["color"]],
          ["insert", ["link"]],
          ["fontsize", ["fontsize"]],
        ],
      };
      options.callbacks = {
        onChange(contents) {
          vm.$emit("input", contents);
          vm.keterangan = contents;
        },
      };

      $("textarea#summernote").summernote(options);
    },
    cekStokBarang(barang) {
      this.get_barang(barang.data_barang._id).then((data) => {
        // Cari index arraynya
        this.barang.map(function () {
          if (barang.barang_paket > data.stok) {
            barang.barang_paket = data.stok;
          }
        });
      });
    },
  },
  mounted() {
    const self = this;
    this.$watch(
      "barang",
      function () {
        this.barang.map(function (e) {
          self.cekStokBarang(e);
        });
      },
      { deep: true }
    );
    this.daftarBarang = $("#daftarBarangTable").DataTable({
      responsive: true,
      columnDefs: [
        {
          targets: [1, 2, 3],
          orderable: false,
        },
      ],
    });
    this.getPaket();
    this.getDataBarang();
    $("#daftarBarangTable tbody").on("click", "#tambah", function () {
      let itemId = $(this).attr("itemId");
      self.addBarang(itemId);
    });
    this.summerNote();
  },
};
</script>

<style>
.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
  margin-right: 8px !important;
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
/* Temporarily Hide Ugly Black Background At Navigation */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: none !important;
  background-color: transparent !important;
  background: transparent !important;
}

/* Center text */
table.dataTable tbody td {
  vertical-align: middle;
}
</style>
