<template>
  <div>
    <div class="text-center pt-3 mt-5 pb-5">
      <h1 class="font-weight-light">Profil</h1>
    </div>
    <Notifikasi :pesan="error" :tipe="'danger'" v-if="error" />
    <div class="row">
      <div class="col-lg">
        <div class="form-group">
          <label>Nama</label>
          <input type="text" class="form-control" v-model="nama" />
        </div>
        <div class="form-group">
          <label>Nomor Telepon</label>
          <cleave
            v-model="nomor_telepon"
            :options="options"
            class="form-control"
            name="card"
          />
        </div>
      </div>
      <div class="col-lg">
        <div class="row">
          <div class="col-lg">
            <div class="form-group">
              <label>Kecamatan</label>
              <input type="text" class="form-control" v-model="kecamatan" />
            </div>
          </div>
          <div class="col-lg">
            <div class="form-group">
              <label>Kelurahan</label>
              <input type="text" class="form-control" v-model="kelurahan" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Alamat</label>
          <textarea
            name=""
            id=""
            cols="2"
            rows="2"
            class="form-control"
            v-model="alamat"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="float-right">
      <button v-b-modal.gantiPassword class="btn btn-success">
        Ganti Password
      </button>
      <button class="btn btn-primary" @click="updateUser">Simpan</button>
    </div>

    <b-modal
      id="gantiPassword"
      title="Ganti Password"
      ok-title="Simpan"
      cancel-title="Batal"
      @ok="gantiPassword"
    >
      <div class="form-group">
        <label>Password Baru</label>
        <input
          type="password"
          class="form-control"
          v-model="password.passwordBaru"
        />
      </div>
      <div class="form-group">
        <label>Password Baru Konfirmasi</label>
        <input
          type="password"
          class="form-control"
          v-model="password.passwordBaruKonfirmasi"
        />
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Cleave from 'vue-cleave-component'
import Swal from 'sweetalert2'
import 'cleave.js/dist/addons/cleave-phone.id'

export default {
  head() {
    return {
      title: `Profil — JMAudio`,
    }
  },
  middleware: ['auth'],
  computed: {
    ...mapGetters(['loggedInUser']),
  },
  components: {
    Cleave,
  },
  data() {
    return {
      nama: '',
      alamat: '',
      kecamatan: '',
      kelurahan: '',
      nomor_telepon: '',
      options: {
        phone: true,
        phoneRegionCode: 'ID',
      },
      error: null,
      password: {
        passwordBaru: '',
        passwordBaruKonfirmasi: '',
      },
    }
  },
  methods: {
    updateUser() {
      if (this.validateBeforeSend()) {
        const data = {
          id: this.loggedInUser._id,
          nama: this.nama,
          alamat: this.alamat,
          kecamatan: this.kecamatan,
          kelurahan: this.kelurahan,
          nomor_telepon: this.nomor_telepon,
        }
        this.$store
          .dispatch('updateUser', data)
          .then((res) => {
            Swal.fire('Berhasil', `${res}`, 'success')
          })
          .catch((err) => {
            Swal.fire('Error', `${err}`, 'error')
          })
      } else {
        this.error = 'Harap mengisi semua form yang disediakan.'
      }
    },
    gantiPassword() {
      if (this.validateGantiPasword()) {
        const data = {
          id: this.loggedInUser._id,
          password: this.password.passwordBaru,
        }
        this.$store
          .dispatch('updatePassword', data)
          .then((res) => {
            Swal.fire('Berhasil', `${res}`, 'success')
            this.password.passwordBaru = ''
            this.password.passwordBaruKonfirmasi = ''
          })
          .catch((err) => {
            Swal.fire('Error', `${err}`, 'error')
          })
      }
    },
    validateBeforeSend() {
      if (
        this.nama == '' ||
        this.alamat == '' ||
        this.kecamatan == '' ||
        this.kelurahan == '' ||
        this.nomor_telepon == ''
      ) {
        return false
      }
      return true
    },
    validateGantiPasword() {
      if (
        this.password.passwordBaru == '' ||
        this.password.passwordBaruKonfirmasi == ''
      ) {
        return false
      }
      return true
    },
    getData() {
      this.nama = this.loggedInUser.nama
      this.alamat = this.loggedInUser.alamat
      this.kecamatan = this.loggedInUser.kecamatan
      this.kelurahan = this.loggedInUser.kelurahan
      this.nomor_telepon = this.loggedInUser.nomor_telepon
    },
  },
  mounted() {
    this.getData()
  },
}
</script>