<template>
  <div>
    <div class="text-center pt-3 mt-5">
      <h1 class="font-weight-light">Paket</h1>
    </div>
    <div class="price-sec-wrap">
      <div class="row">
        <div class="col-lg-4 pt-5" v-for="(p, index) in paket" :key="index">
          <div class="price-box">
            <div class="">
              <div class="price-label normal">
                {{ p.nama }}
              </div>
              <div class="price">Rp. {{ formatNumber(p.harga) }}</div>
              <div class="price-info">Per Hari.</div>
            </div>
            <div class="info">
              <ul>
                <li v-for="barang in p.barang.slice(0, 3)" :key="barang._id">
                  <i class="fas fa-check"></i>
                  {{ barang.jumlah }} {{ barang.data.nama }}
                </li>
                <li>
                  <i class="fas fa-check"></i>
                  Dan masih banyak lagi...
                </li>
              </ul>
              <b-link :to="'/paket/' + p._id" class="plan-btn"
                >Lihat Paket</b-link
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/style.css'

export default {
  head: {
    title: 'Paket — JMAudio',
  },
  data() {
    return {
      paket: [],
    }
  },
  methods: {
    getData() {
      this.$store.dispatch('paket/get_all_paket').then((res) => {
        this.paket = res
      })
    },
    formatNumber(num) {
      if (num >= 1000000000) {
        return (num / 1000000000).toFixed(1).replace(/\.0$/, '') + 'M'
      }
      if (num >= 1000000) {
        return (num / 1000000).toFixed(1).replace(/\.0$/, '') + 'Jt'
      }
      if (num >= 1000) {
        return (num / 1000).toFixed(1).replace(/\.0$/, '') + 'Rb'
      }
      return num
    },
  },
  mounted() {
    this.getData()
  },
}
</script>
