<template>
  <Content title="My Profile">
    <h2 class="section-title">Hi, {{ user.nama }}!</h2>
    <p class="section-lead">Ganti profil kamu di sini.</p>
    <div class="alert alert-danger alert-dismissible show fade" v-if="error">
      <div class="alert-body">
        <button class="close" data-dismiss="alert">
          <span>×</span>
        </button>
        {{ error }}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <label>Pratinjau</label>
              <img
                v-if="selectedImage"
                :src="imagePreview"
                class="rounded img-responsive img-preview"
                alt="Image Preview"
                width="100%"
                height="122"
              />
              <img
                v-else
                :src="originalImage"
                class="rounded img-responsive img-preview"
                alt="Image Preview"
                width="100%"
                height="148"
              />
            </div>
            <div class="form-group mt-4">
              <label class="float-right">
                <a
                  v-if="selectedImage"
                  href="#"
                  data-toggle="tooltip"
                  title="Klik di sini untuk menghapus foto."
                  @click="clearImage"
                >
                  <code class="text-right">Hapus foto</code>
                </a>
              </label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-file-image"></i>
                  </div>
                </div>
                <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    @change="onImageSelected"
                    accept="image/*"
                  />
                  <label class="custom-file-label">Pilih foto</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg">
                <div class="form-group">
                  <label>Nama</label>
                  <input type="text" class="form-control" v-model="nama" />
                </div>
                <div class="form-group">
                  <label>E-Mail</label>
                  <input
                    type="email"
                    class="form-control"
                    v-model="email"
                    @keydown.space.prevent
                  />
                  <div class="invalid-feedback d-block" v-if="errors.email">
                    {{ errors.email }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-right">
            <div class="buttons">
              <button
                type="button"
                class="btn btn-success"
                @click="showModal = true"
              >
                Ganti Password
              </button>
              <button
                type="button"
                v-on:click="this.editUser"
                class="btn btn-primary"
              >
                Simpan
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-if="showModal">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Ganti Password</h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true" @click="showModal = false"
                      >&times;</span
                    >
                  </button>
                </div>
                <form
                  @submit.prevent="editPassword"
                  class="needs-validation"
                  novalidate
                >
                  <div class="modal-body">
                    <div class="card-body">
                      <div class="form-group">
                        <label>Password Lama</label>
                        <input
                          type="password"
                          class="form-control"
                          v-model="password"
                        />
                        <div
                          class="invalid-feedback d-block"
                          v-if="errors.password"
                        >
                          {{ errors.password }}
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Password Baru</label>
                        <input
                          type="password"
                          class="form-control"
                          v-model="newPass"
                        />
                        <div
                          class="invalid-feedback d-block"
                          v-if="errors.newPass"
                        >
                          {{ errors.newPass }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      @click="showModal = false"
                    >
                      Cancel
                    </button>
                    <button type="submit" class="btn btn-primary">
                      Simpan
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </Content>
</template>

<script>
import avatar from "@/assets/img/avatar/avatar-1.png";
import swal from "sweetalert";
import Content from "@/components/Content";
import { mapActions, mapGetters } from "vuex";

export default {
  computed: mapGetters(["user"]),
  data: function () {
    return {
      id: "",
      nama: "",
      email: "",
      password: "",
      newPass: "",
      level: "",
      errors: [],
      error: "",
      selectedImage: null,
      imagePreview: null,
      originalImage: null,
      showModal: false,
    };
  },
  components: {
    Content,
  },
  methods: {
    ...mapActions(["getUserData", "update_profile", "ganti_password"]),
    onImageSelected: function (event) {
      this.selectedImage = event.target.files[0];
      this.imagePreview =
        this.selectedImage != null
          ? URL.createObjectURL(this.selectedImage)
          : this.originalImage;
    },
    clearImage: function () {
      this.selectedImage = null;
      this.imagePreview = this.originalImage;
    },
    getData: function () {
      this.getUserData().then((res) => {
        this.id = res.data.user._id;
        this.nama = res.data.user.nama_user;
        this.email = res.data.user.email_user;
        this.level = res.data.user.level_user;
        this.originalImage = res.data.user.foto_user
          ? `${process.env.VUE_APP_API_URL}/user_img/${res.data.user.foto_user}`
          : avatar;
      });
    },
    editUser: function () {
      if (this.validateBeforeSendData()) {
        let data;
        if (!this.selectedImage) {
          data = {
            nama_user: this.nama,
            email_user: this.email,
          };
        } else {
          data = new FormData();
          data.set("nama_user", this.nama);
          data.set("email_user", this.email);
          data.append("foto_user", this.selectedImage, this.selectedImage.name);
        }

        this.update_profile(data)
          .then((res) => {
            swal(
              "Berhasil!",
              `${res.data.nama_user} berhasil diperbarui.`,
              "success"
            )
              .then(() => {
                this.$router.go(0);
              })
              .catch((err) => {
                this.error = err.response.data.message;
              });
          })
          .catch((err) => {
            console.log(err);
            swal(
              `Error ${err.response}`,
              `${err.response.data.message}`,
              "error"
            );
          });
      } else {
        this.error = "Harap isi semua form yang disediakan!";
      }
    },
    editPassword: function () {
      let userData = {
        password_user: this.password,
        newPass: this.newPass,
      };
      this.ganti_password(userData)
        .then((res) => {
          swal("Berhasil!", `${res.data.nama_user} berhasil diperbarui.`, "success").then(
            () => {
              this.$router.go(0);
            }
          );
        })
        .catch((err) => {
          this.error = err.response.data.message;
        });
    },
    validateEmail: function (email) {
      let regex = /(.+)@(.+){2,}\.(.+){2,}/;
      if (regex.test(email)) {
        this.errors["email"] = "";
      } else {
        this.errors["email"] = "Email tidak valid.";
      }
    },
    validatePassword: function (password, name) {
      let difference = 8 - password.length;
      if (password.length >= 8) {
        this.errors[name] = "";
      } else {
        this.errors[name] =
          "Password harus ada 8 karakter! " + difference + " karakter tersisa.";
      }
    },
    validateBeforeSendData: function () {
      if (this.nama == "" || this.email == "" || this.level == "") {
        return false;
      } else {
        return true;
      }
    },
  },
  watch: {
    email: function () {
      this.validateEmail(this.email);
    },
    password: function () {
      this.validatePassword(this.password, "password");
    },
    newPass: function () {
      this.validatePassword(this.newPass, "newPass");
    },
  },
  created() {
    this.getData();
  },
};
</script>
<style>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
</style>
