<template>
  <div class="max-w-md mx-auto py-10">
    <div v-if="pendaftaran" class="min-w-full">
      <div class="text-center pb-5">
        <h1
          class="my-3 text-3xl font-semibold text-gray-700 dark:text-gray-200"
        >
          Daftar
        </h1>
        <p class="text-gray-500 dark:text-gray-400">
          Daftar untuk membeli paket kami.
        </p>
        <ErrorAlert v-if="error" :pesan="error" />
      </div>

      <div class="mb-6">
        <label class="block mb-2 text-sm text-gray-600 dark:text-gray-400"
          >Surel</label
        >
        <input
          type="email"
          placeholder="nama@gmail.com"
          class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
          v-model="email"
        />
      </div>

      <div class="mb-6">
        <label class="block mb-2 text-sm text-gray-600 dark:text-gray-400"
          >Nomor Telepon</label
        >
        <cleave
          v-model="nomor_telepon"
          :options="options"
          class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
          placeholder="085123456789"
        />
      </div>

      <div class="mb-6">
        <label class="block mb-2 text-sm text-gray-600 dark:text-gray-400"
          >Nama</label
        >
        <input
          type="text"
          placeholder="Joko Susanto"
          class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
          v-model="nama"
        />
      </div>

      <div class="mb-6">
        <div class="flex justify-between mb-2">
          <label class="text-sm text-gray-600 dark:text-gray-400"
            >Kata Sandi</label
          >
          <label class="inline-flex items-center">
            <input
              type="checkbox"
              class="form-checkbox h-4 w-4 text-indigo-600 rounded"
              v-model="tipePassword"
              true-value="text"
              false-value="password"
            /><span class="ml-2 text-gray-700">Perlihatkan kata sandi</span>
          </label>
        </div>
        <input
          :type="tipePassword"
          placeholder="******"
          class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
          v-model="password"
        />
      </div>

      <div class="mb-6">
        <div class="flex justify-between mb-2">
          <label class="text-sm text-gray-600 dark:text-gray-400">Alamat</label>
        </div>
        <textarea
          class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
          v-model="alamat"
        >
        </textarea>
      </div>

      <div class="mb-6">
        <label class="block mb-2 text-sm text-gray-600 dark:text-gray-400"
          >Kecamatan</label
        >
        <input
          type="text"
          placeholder="Pamulang"
          class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
          v-model="kecamatan"
        />
      </div>

      <div class="mb-6">
        <label class="block mb-2 text-sm text-gray-600 dark:text-gray-400"
          >Kelurahan</label
        >
        <input
          type="text"
          placeholder="Benda Baru"
          class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
          v-model="kelurahan"
        />
      </div>

      <div class="mb-6">
        <button
          type="button"
          class="w-full px-3 py-4 text-white bg-indigo-500 rounded-md focus:bg-indigo-600 focus:outline-none"
          @click="daftar"
        >
          Daftar
        </button>
      </div>
      <p class="text-sm text-center text-gray-400">
        Sudah punya akun?
        <nuxt-link
          to="/auth"
          class="text-indigo-400 focus:outline-none focus:underline focus:text-indigo-500 dark:focus:border-indigo-800"
          >Masuk</nuxt-link
        >.
      </p>
    </div>

    <div v-else class="min-w-full">
      <div class="text-center pb-5">
        <h1
          class="my-3 text-3xl font-semibold text-gray-700 dark:text-gray-200"
        >
          Pendaftaran berhasil!
        </h1>
      </div>
      <img class="my-6" :src="welcomeImage" />
      <div class="text-center">
        <p class="text-center text-gray-400 py-6">Silakan masuk :)</p>
        <nuxt-link
          to="/auth"
          type="button"
          class="w-4/6 px-2 py-4 text-white bg-indigo-500 rounded-md focus:bg-indigo-600 focus:outline-none"
        >
          Masuk
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import Welcome from "@/assets/img/welcome.svg";
import Cleave from "vue-cleave-component";
import "cleave.js/dist/addons/cleave-phone.id";

export default {
  head: {
    title: "Daftar — JMAudio"
  },
  middleware: "guest",
  data() {
    return {
      tipePassword: "password",
      email: null,
      nama: null,
      password: null,
      alamat: null,
      kecamatan: null,
      kelurahan: null,
      nomor_telepon: null,
      error: null,
      pendaftaran: true,
      welcomeImage: Welcome,
      options: {
        phone: true,
        phoneRegionCode: "ID"
      }
    };
  },
  components: {
    Cleave
  },
  methods: {
    validateBeforeRegister() {
      if (
        (this.nama == "" || this.email == "" || this.alamat == "",
        this.kecamatan == "",
        this.kelurahan == "",
        this.password == "")
      ) {
        return false;
      } else {
        return true;
      }
    },
    daftar() {
      if (this.validateBeforeRegister()) {
        const data = {
          nama_pelanggan: this.nama,
          email_pelanggan: this.email,
          password_pelanggan: this.password,
          alamat_pelanggan: this.alamat,
          kecamatan_pelanggan: this.kecamatan,
          kelurahan_pelanggan: this.kelurahan,
          nomor_telepon_pelanggan: this.nomor_telepon
        };
        this.$store
          .dispatch("register", data)
          .then(() => {
            this.pendaftaran = false;
          })
          .catch(e => {
            this.error = e.response.data.message;
            if (e.response.data.code == 11000) {
              this.error = "Surel atau nomor telepon sudah digunakan.";
            }
          });
      }
    }
  }
};
</script>
