<template>
  <div class="max-w-md mx-auto py-10">
    <div class="min-w-full">
      <div class="text-center pb-5">
        <h1
          class="my-3 text-3xl font-semibold text-gray-700 dark:text-gray-200"
        >
          Masuk
        </h1>
        <p class="text-gray-500 dark:text-gray-400">
          Masuk untuk mengakses akun Anda.
        </p>
        <ErrorAlert v-if="error" :pesan="error" />
      </div>
      <div class="mb-6">
        <label class="block mb-2 text-sm text-gray-600 dark:text-gray-400"
          >Surel</label
        >
        <input
          type="email"
          placeholder="nama@gmail.com"
          v-model="email"
          class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
        />
      </div>
      <div class="mb-6">
        <div class="flex justify-between mb-2">
          <label for="password" class="text-sm text-gray-600 dark:text-gray-400"
            >Kata Sandi</label
          >
          <!-- <a
            href="#!"
            class="text-sm text-gray-400 focus:outline-none focus:text-indigo-500 hover:text-indigo-500 dark:hover:text-indigo-300"
            >Lupa kata sandi?</a
          > -->
        </div>
        <input
          type="password"
          placeholder="******"
          v-model="password"
          class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
        />
      </div>
      <div class="mb-6">
        <button
          type="button"
          class="w-full px-3 py-4 text-white bg-indigo-500 rounded-md focus:bg-indigo-600 focus:outline-none"
          @click="login"
        >
          Masuk
        </button>
      </div>
      <p class="text-sm text-center text-gray-400">
        Belum punya akun?
        <nuxt-link
          to="/auth/daftar"
          class="text-indigo-400 focus:outline-none focus:underline focus:text-indigo-500 dark:focus:border-indigo-800"
          >Daftar</nuxt-link
        >.
      </p>
    </div>
  </div>
</template>

<script>
export default {
  head: {
    title: "Masuk — JMAudio",
  },
  middleware: "guest",
  data() {
    return {
      email: null,
      password: null,
      error: null,
    };
  },
  methods: {
    async login() {
      try {
        await this.$auth.loginWith("local", {
          data: {
            email_pelanggan: this.email,
            password_pelanggan: this.password,
          },
        });
        if (this.$router.from("/paket")) {
          this.$router.back();
        } else {
          this.$router.push("/");
        }
      } catch (e) {
        this.error = e.response.data.message;
      }
    },
  },
};
</script>