<template>
  <Content title="Data Pelanggan">
    <div class="card">
      <div class="card-body">
        <table class="table table-striped" id="table">
          <thead>
            <tr>
              <th>No</th>
              <th>Nama</th>
              <th>Email</th>
              <th>No Telepon</th>
              <th>Alamat</th>
              <th>Kecamatan</th>
              <th>Kelurahan</th>
              <th class="text-right">Aksi</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </Content>
</template>

<script>
import $ from "jquery";
import swal from "sweetalert";

import "datatables/media/css/jquery.dataTables.css";
import "datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css";
import "datatables.net-select-bs4/css/select.bootstrap4.min.css";

import "datatables/media/js/jquery.dataTables";
import "datatables.net-responsive-bs4/js/responsive.bootstrap4";
import "datatables.net-select-bs4/js/select.bootstrap4";

import { mapActions } from "vuex";
import Content from "@/components/Content";

export default {
  components: {
    Content,
  },
  data() {
    return {
      dataTable: null,
    };
  },
  methods: {
    ...mapActions(["get_all_pelanggan", "delete_pelanggan"]),
    getData() {
      this.get_all_pelanggan().then((data) => {
        let number = 1;
        data.forEach((data) => {
          this.dataTable.row
            .add([
              number++,
              data.nama_pelanggan,
              data.email_pelanggan,
              data.nomor_telepon_pelanggan,
              data.alamat_pelanggan,
              data.kecamatan_pelanggan,
              data.kelurahan_pelanggan,
              `<div class="btn-group float-right" role="group">` +
                `<button type="button" class="btn btn-success" id="edit" itemId="${data._id}">Ubah</button>` +
                `<button type="button" class="btn btn-danger" id="delete" itemId="${data._id}">Hapus</button>` +
                `</div>`,
            ])
            .draw(false);
        });
      });
    },
    deleteItem(id) {
      return this.delete_pelanggan(id);
    },
    refreshDataTable() {
      this.dataTable.rows().remove().draw();
      this.getData();
      return;
    },
  },
  mounted() {
    const self = this;
    this.dataTable = $("#table").DataTable({
      responsive: true,
    });
    this.getData();
    $("#table tbody").on("click", "#delete", function () {
      let data = self.dataTable.row($(this).parents("tr")).data();
      let itemId = $(this).attr("itemId");
      swal({
        title: `Hapus ${data[1]} ?`,
        text: "Data yang sudah dihapus tidak dapat dikembalikan lagi!",
        icon: "warning",
        buttons: ["Batal", "Hapus"],
        dangerMode: true,
      }).then(async (willDelete) => {
        if (willDelete) {
          let deleteItem = await self.deleteItem(itemId);
          if (deleteItem) {
            swal("Terhapus!", `${deleteItem}`, "success").then(() => {
              self.refreshDataTable();
            });
          } else {
            swal("Error!", `Error: ${deleteItem}`, "error");
          }
        }
      });
    });
    $("#table tbody").on("click", "#edit", function () {
      let itemId = $(this).attr("itemId");
      self.$router.push(`/pelanggan/${itemId}`);
    });
  },
};
</script>

<style>
/* Temporarily Hide Ugly Black Background At Navigation */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: none !important;
  background-color: transparent !important;
  background: transparent !important;
}
</style>
