<template>
  <Content title="Tambah Data Pelanggan">
    <div class="card shadow">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label>Nama</label>
              <input type="text" class="form-control" v-model="nama" />
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" v-model="email" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>Alamat</label>
              <textarea
                name=""
                id=""
                cols="30"
                rows="10"
                class="form-control"
                v-model="alamat"
              ></textarea>
            </div>
            <div class="row">
              <div class="col-sm">
                <label>Kecamatan</label>
                <div class="form-group">
                  <input type="text" class="form-control" v-model="kecamatan" />
                </div>
              </div>
              <div class="col-sm">
                <div class="form-group">
                  <label>Kelurahan</label>
                  <input type="text" class="form-control" v-model="kelurahan" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-primary" @click="processItem">Simpan</button>
      </div>
    </div>
  </Content>
</template>

<script>
import Content from "@/components/Content";
import { mapActions } from "vuex";
import swal from "sweetalert";

export default {
  components: {
    Content,
  },
  data() {
    return {
      nama: "",
      email: "",
      alamat: "",
      kecamatan: "",
      kelurahan: "",
    };
  },
  methods: {
    ...mapActions(["create_new_pelanggan"]),
    processItem() {
      if (this.validateBeforeSendData()) {
        const data = {
          nama_pelanggan: this.nama,
          email_pelanggan: this.email,
          alamat_pelanggan: this.alamat,
          kecamatan_pelanggan: this.kecamatan,
          kelurahan_pelanggan: this.kelurahan,
        };

        this.create_new_pelanggan(data)
          .then((res) => {
            swal("Berhasil!", `${res}`, "success")
              .then(() => {
                this.$router.push("/pelanggan");
              })
              .catch((err) => {
                this.error = err.response.data.message;
              });
          })
          .catch((err) => {
            swal(
              `Error ${err.response.status}`,
              `${err.response.data.message}`,
              "error"
            );
          });
      } else {
        this.error = "Harap isi semua form yang disediakan!";
      }
    },
    validateBeforeSendData() {
      if (
        this.nama == "" ||
        this.email == "" ||
        this.alamat == "" ||
        this.kecamatan == "" ||
        this.kelurahan == ""
      ) {
        return false;
      } else {
        return true;
      }
    },
  },
};
</script>