<template>
  <Content title="Ubah Data Pelanggan">
    <div class="card shadow">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label>Nama</label>
              <input type="text" class="form-control" v-model="nama" />
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" v-model="email" />
            </div>
            <div class="form-group">
              <label>Nomor Telepon</label>
              <cleave
                v-model="nomor_telepon"
                :options="options"
                class="form-control"
                name="card"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>Alamat</label>
              <textarea
                cols="30"
                rows="10"
                class="form-control"
                v-model="alamat"
                style="height: 139px;"
              ></textarea>
            </div>
            <div class="row ">
              <div class="col-sm">
                <div class="form-group">
                  <label>Kecamatan</label>
                  <input type="text" class="form-control" v-model="kecamatan" />
                </div>
              </div>
              <div class="col-sm">
                <div class="form-group">
                  <label>Kelurahan</label>
                  <input type="text" class="form-control" v-model="kelurahan" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-primary" @click="processItem">Simpan</button>
      </div>
    </div>
  </Content>
</template>

<script>
import Content from "@/components/Content";
import { mapActions } from "vuex";
import swal from "sweetalert";
import Cleave from "vue-cleave-component";
import 'cleave.js/dist/addons/cleave-phone.id'

export default {
  components: {
    Content,
    Cleave,
  },
  data() {
    return {
      id: this.$route.params.id,
      nama: "",
      email: "",
      alamat: "",
      kecamatan: "",
      kelurahan: "",
      nomor_telepon: "",
      options: {
        phone: true,
        phoneRegionCode: "ID",
      },
    };
  },
  methods: {
    ...mapActions(["get_pelanggan", "update_pelanggan"]),
    processItem() {
      if (this.validateBeforeSendData()) {
        const data = {
          id: this.id,
          nama_pelanggan: this.nama,
          email_pelanggan: this.email,
          alamat_pelanggan: this.alamat,
          kecamatan_pelanggan: this.kecamatan,
          kelurahan_pelanggan: this.kelurahan,
          nomor_telepon_pelanggan: this.nomor_telepon,
        };

        this.update_pelanggan(data)
          .then((res) => {
            swal("Berhasil!", `${res}`, "success")
              .then(() => {
                this.$router.push("/pelanggan");
              })
              .catch((err) => {
                this.error = err.response.data.message;
              });
          })
          .catch((err) => {
            swal(
              `Error ${err.response.status}`,
              `${err.response.data.message}`,
              "error"
            );
          });
      } else {
        this.error = "Harap isi semua form yang disediakan!";
      }
    },
    getData() {
      this.get_pelanggan(this.id).then((res) => {
        this.nama = res.nama_pelanggan;
        this.email = res.email_pelanggan;
        this.alamat = res.alamat_pelanggan;
        this.kecamatan = res.kecamatan_pelanggan;
        this.kelurahan = res.kelurahan_pelanggan;
        this.nomor_telepon = res.nomor_telepon_pelanggan;
      });
    },
    validateBeforeSendData() {
      if (
        this.nama == "" ||
        this.email == "" ||
        this.alamat == "" ||
        this.kecamatan == "" ||
        this.kelurahan == "" ||
        this.nomor_telepon == ""
      ) {
        return false;
      } else {
        return true;
      }
    },
  },
  mounted() {
    this.getData();
  },
};
</script>
