<template>
  <section class="section">
    <div class="container mt-5">
      <div class="row">
        <div
          class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4"
        >
          <div class="login-brand">
            <figure
              class="avatar mr-2 avatar-xl shadow-light rounded-circle"
              data-initial="JM"
              alt="logo"
              width="100"
            ></figure>
          </div>

          <div class="card card-primary">
            <div class="card-header">
              <h4>Login</h4>
            </div>

            <div class="alert alert-danger" v-if="error">{{ error }}</div>
            <div class="card-body">
              <form
                @submit.prevent="loginMethod"
                class="needs-validation"
                novalidate
              >
                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    id="email"
                    type="email"
                    class="form-control"
                    name="email"
                    tabindex="1"
                    required
                    autofocus
                    v-model="email"
                  />
                  <div class="invalid-feedback">Please fill in your email</div>
                </div>

                <div class="form-group">
                  <div class="d-block">
                    <label for="password" class="control-label">Password</label>
                  </div>
                  <input
                    id="password"
                    type="password"
                    class="form-control"
                    name="password"
                    tabindex="2"
                    required
                    v-model="password"
                  />
                  <div class="invalid-feedback">
                    please fill in your password
                  </div>
                </div>

                <div class="form-group">
                  <button
                    type="submit"
                    class="btn btn-primary btn-lg btn-block"
                    tabindex="4"
                  >
                    Masuk
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="simple-footer">
            Copyright &copy;
            <a href="https://rafipriatna.id" target="_blank">Rafi Priatna K</a>
            2020
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      email: "",
      password: "",
      error: "",
    };
  },
  methods: {
    ...mapActions(["login"]),
    loginMethod: function () {
      let user = {
        email_user: this.email,
        password_user: this.password,
      };
      this.login(user)
        .then((res) => {
          if (res.data.token) {
            this.$router.go("/");
          }
        })
        .catch((err) => {
          this.password = "";
          this.error = err.response.data.message;
        });
    },
  },
};
</script>
