<template>
  <Content title="Data Pengguna">
    <div class="card">
      <div class="card-header">
        <router-link to="/pengguna/tambah" class="btn btn-primary">
          Tambah Pengguna
        </router-link>
      </div>
      <div class="card-body">
        <table class="table table-striped" id="table">
          <thead>
            <tr>
              <th>No</th>
              <th>Foto</th>
              <th>Nama</th>
              <th>Email</th>
              <th>Level</th>
              <th>Terakhir Masuk</th>
              <th class="text-right">Aksi</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </Content>
</template>

<script>
import $ from "jquery";
import swal from "sweetalert";

import "datatables/media/css/jquery.dataTables.css";
import "datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css";
import "datatables.net-select-bs4/css/select.bootstrap4.min.css";

import "datatables/media/js/jquery.dataTables";
import "datatables.net-responsive-bs4/js/responsive.bootstrap4";
import "datatables.net-select-bs4/js/select.bootstrap4";

import { mapActions } from "vuex";
import Content from "@/components/Content";

export default {
  components: {
    Content,
  },
  data: function () {
    return {
      id: "",
      dataTable: null,
    };
  },
  methods: {
    ...mapActions(["get_all_users", "getUserData"]),
    getUsers: function () {
      this.get_all_users().then((res) => {
        const data = res;
        let number = 1;
        data.forEach((user) => {
          this.dataTable.row
            .add([
              number++,
              user.foto_user
                ? `<img src="${process.env.VUE_APP_API_URL}/user/${user.foto_user}" width="60" height="60"/>`
                : `<img src="https://ui-avatars.com/api/?background=fc544b&color=fff&name=${user.nama_user}" width="60" height="60""/>`,
              user.nama_user,
              user.email_user,
              user.level_user,
              user.last_access_user,
              `<div class="btn-group float-right" role="group">` +
                `<button type="button" class="btn btn-success" id="edit" userId="${user._id}">Ubah</button>` +
                `<button type="button" class="btn btn-danger" id="delete" userId="${user._id}">Hapus</button>` +
                `</div>`,
            ])
            .draw(false);
        });
      });
    },
  },
  mounted() {
    let currentUser;
    let router = this.$router;
    let store = this.$store;
    let datatable = (this.dataTable = $("#table").DataTable({
      responsive: true,
    }));
    let deleteUser = function (id) {
      return store
        .dispatch("delete_user", id)
        .then((res) => {
          return res;
        })
        .catch((err) => {
          return err;
        });
    };
    this.getUsers();
    let refreshDataTable = () => {
      datatable.rows().remove().draw();
      this.getUsers();
      return;
    };
    this.getUserData().then((res) => {
      this.currentUserId = res.data.user._id;
      currentUser = res.data.user._id;
    });
    $("#table tbody").on("click", "#delete", function () {
      let data = datatable.row($(this).parents("tr")).data();
      let userId = $(this).attr("userId");
      if (userId == currentUser)
        return swal(
          "Error",
          "Tidak bisa menghapus pengguna yang sedang digunakan.",
          "error"
        );

      swal({
        title: `Hapus ${data[2]} ?`,
        text: "Data yang sudah dihapus tidak dapat dikembalikan lagi!",
        icon: "warning",
        buttons: ["Batal", "Hapus"],
        dangerMode: true,
      }).then(async (willDelete) => {
        if (willDelete) {
          let deleteUserRes = await deleteUser(userId);
          if (deleteUserRes) {
            swal("Terhapus!", `${deleteUserRes.message}`, "success").then(
              () => {
                refreshDataTable();
              }
            );
          } else {
            swal("Error!", `Error: ${deleteUserRes.message}`, "error");
          }
        }
      });
    });
    $("#table tbody").on("click", "#edit", function () {
      let userId = $(this).attr("userId");
      router.push(`/pengguna/${userId}`);
    });
  },
};
</script>

<style>
/* Temporarily Hide Ugly Black Background At Navigation */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: none !important;
  background-color: transparent !important;
  background: transparent !important;
}

/* Center text */
table.dataTable tbody td {
  vertical-align: middle;
}
</style>
