<template>
  <Content title="Add New User">
    <div class="alert alert-danger alert-dismissible show fade" v-if="error">
      <div class="alert-body">
        <button class="close" data-dismiss="alert">
          <span>×</span>
        </button>
        {{ error }}
      </div>
    </div>
    <form @submit.prevent="createUser" class="needs-validation" novalidate>
      <div class="row">
        <div class="col-lg-2">
          <div class="card">
            <div class="card-body">
              <div class="form-group">
                <label>Pratinjau</label>
                <img
                  v-if="selectedImage"
                  :src="imagePreview"
                  class="rounded img-responsive img-preview"
                  alt="Image Preview"
                  width="100%"
                  height="122"
                />
                <img
                  v-else
                  :src="originalImage"
                  class="rounded img-responsive img-preview"
                  alt="Image Preview"
                  width="100%"
                  height="148"
                />
              </div>
              <div class="form-group mt-4">
                <label class="float-right">
                  <a
                    v-if="selectedImage"
                    href="#"
                    data-toggle="tooltip"
                    title="Klik di sini untuk menghapus foto."
                    @click="clearImage"
                  >
                    <code class="text-right">Hapus foto</code>
                  </a>
                </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-file-image"></i>
                    </div>
                  </div>
                  <div class="custom-file">
                    <input
                      type="file"
                      class="custom-file-input"
                      @change="onImageSelected"
                      accept="image/*"
                    />
                    <label class="custom-file-label"
                      >Pilih foto</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label>Nama</label>
                    <input
                      type="text"
                      class="form-control"
                      name="name"
                      v-model="nama"
                    />
                  </div>
                  <div class="form-group">
                    <label>E-Mail</label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      v-model="email"
                      @keydown.space.prevent
                    />
                    <div class="invalid-feedback d-block" v-if="errors.email">
                      {{ errors.email }}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label>Password</label>
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      v-model="password"
                    />
                    <div
                      class="invalid-feedback d-block"
                      v-if="errors.password"
                    >
                      {{ errors.password }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Confirm Password</label>
                    <input
                      type="password"
                      class="form-control"
                      name="confirm_password"
                      v-model="confirm_password"
                    />
                    <div
                      class="invalid-feedback d-block"
                      v-if="errors.confirm_password"
                    >
                      {{ errors.confirm_password }}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label>Level</label>
                    <select name="level" class="form-control" v-model="level">
                      <option value="Admin">Admin</option>
                      <option value="Pegawai">Pegawai</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-right">
              <button type="submit" class="btn btn-primary">Simpan</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </Content>
</template>

<script>
import avatar from "@/assets/img/avatar/avatar-1.png";
import swal from "sweetalert";
import Content from "@/components/Content";
import { mapActions } from "vuex";

export default {
  components: {
    Content,
  },
  data: function () {
    return {
      nama: "",
      email: "",
      password: "",
      confirm_password: "",
      level: "",
      errors: [],
      error: "",
      selectedImage: null,
      imagePreview: null,
      originalImage: avatar,
      options: {
        phoneNumber: {
          phone: true,
          phoneRegionCode: "ID",
          delimiter: "-",
        },
      },
    };
  },
  watch: {
    email: function () {
      this.validateEmail(this.email);
    },
    password: function () {
      this.validatePassword(this.password);
    },
    confirm_password: function () {
      this.validateConfirmPassword(this.password, this.confirm_password);
    },
  },
  methods: {
    ...mapActions(["create_new_user"]),
    onImageSelected: function (event) {
      this.selectedImage = event.target.files[0];
      this.imagePreview =
        this.selectedImage != null
          ? URL.createObjectURL(this.selectedImage)
          : this.originalImage;
    },
    clearImage: function () {
      this.selectedImage = null;
      this.imagePreview = this.originalImage;
    },
    createUser: function () {
      if (this.validateBeforeSendData()) {
        let data;
        if (!this.selectedImage) {
          data = {
            nama: this.nama,
            email: this.email,
            password: this.password,
            level: this.level,
          };
        } else {
          data = new FormData();
          data.set("nama_user", this.nama);
          data.set("email_user", this.email);
          data.set("password_user", this.password);
          data.set("level_user", this.level);
          data.append("foto_user", this.selectedImage, this.selectedImage.name);
        }
        this.create_new_user(data)
          .then((res) => {
            swal(
              "Berhasil!",
              `${res.nama_user} berhasil dibuat.`,
              "success"
            )
              .then(() => {
                this.$router.push("/pengguna");
              })
              .catch((err) => {
                this.error = err.response.data.message;
              });
          })
          .catch((err) => {
            swal(
              `Error ${err.response.status}`,
              `${err.response.data.message}`,
              "error"
            );
          });
      } else {
        this.error = "Harap isi semua form yang disediakan!";
      }
    },
    validateEmail: function (email) {
      let regex = /(.+)@(.+){2,}\.(.+){2,}/;
      if (regex.test(email)) {
        this.errors["email"] = "";
      } else {
        this.errors["email"] = "Email tidak valid.";
      }
    },
    validatePassword: function (password) {
      let difference = 8 - password.length;
      if (password.length >= 8) {
        this.errors["password"] = "";
      } else {
        this.errors["password"] =
          "Password harus ada 8 karakter! " + difference + " karakter tersisa.";
      }
    },
    validateConfirmPassword: function (password, confirmPassword) {
      if (password == confirmPassword) {
        this.errors["confirm_password"] = "";
      } else {
        this.errors["confirm_password"] = "Konfirmasi password tidak cocok.";
      }
    },
    validateBeforeSendData: function () {
      if (
        this.nama == "" ||
        this.email == "" ||
        this.password == "" ||
        this.confirm_password == "" ||
        this.level == ""
      ) {
        return false;
      } else {
        return true;
      }
    },
  },
};
</script>
