<template>
  <Content title="Ubah Pengguna">
    <div class="alert alert-danger alert-dismissible show fade" v-if="error">
      <div class="alert-body">
        <button class="close" data-dismiss="alert">
          <span>×</span>
        </button>
        {{ error }}
      </div>
    </div>
    <form @submit.prevent="editUser" class="needs-validation" novalidate>
      <div class="row">
        <div class="col-lg-2">
          <div class="card">
            <div class="card-body">
              <div class="form-group">
                <label>Pratinjau</label>
                <img
                  v-if="selectedImage"
                  :src="imagePreview"
                  class="rounded img-responsive img-preview"
                  alt="Image Preview"
                  width="100%"
                  height="122"
                />
                <img
                  v-else
                  :src="originalImage"
                  class="rounded img-responsive img-preview"
                  alt="Image Preview"
                  width="100%"
                  height="148"
                />
              </div>
              <div class="form-group mt-4">
                <label class="float-right">
                  <a
                    v-if="selectedImage"
                    href="#"
                    data-toggle="tooltip"
                    title="Klik di sini untuk menghapus foto."
                    @click="clearImage"
                  >
                    <code class="text-right">Hapus foto</code>
                  </a>
                </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-file-image"></i>
                    </div>
                  </div>
                  <div class="custom-file">
                    <input
                      type="file"
                      class="custom-file-input"
                      @change="onImageSelected"
                      accept="image/*"
                    />
                    <label class="custom-file-label">Pilih foto</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-lg">
                  <div class="form-group">
                    <label>Nama</label>
                    <input type="text" class="form-control" v-model="nama" />
                  </div>
                  <div class="form-group">
                    <label>E-Mail</label>
                    <input
                      type="email"
                      class="form-control"
                      v-model="email"
                      @keydown.space.prevent
                    />
                    <div class="invalid-feedback d-block" v-if="errors.email">
                      {{ errors.email }}
                    </div>
                  </div>
                </div>
                <div class="col-lg">
                  <div class="form-group">
                    <label>Level</label>
                    <select name="level" class="form-control" v-model="level">
                      <option value="Admin">Admin</option>
                      <option value="Pegawai">Pegawai</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-right">
              <div class="buttons">
                <button
                  type="button"
                  class="btn btn-success"
                  @click="showModal = true"
                >
                  Ganti Password
                </button>
                <button type="submit" class="btn btn-primary">Simpan</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div v-if="showModal">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Ganti Password</h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true" @click="showModal = false"
                      >&times;</span
                    >
                  </button>
                </div>
                <form
                  @submit.prevent="editPassword"
                  class="needs-validation"
                  novalidate
                >
                  <div class="modal-body">
                    <div class="card-body">
                      <div class="form-group">
                        <label>Password</label>
                        <input
                          type="password"
                          class="form-control"
                          v-model="password"
                        />
                        <div
                          class="invalid-feedback d-block"
                          v-if="errors.password"
                        >
                          {{ errors.password }}
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Konfirmasi Password</label>
                        <input
                          type="password"
                          class="form-control"
                          v-model="confirm_password"
                        />
                        <div
                          class="invalid-feedback d-block"
                          v-if="errors.confirm_password"
                        >
                          {{ errors.confirm_password }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      @click="showModal = false"
                    >
                      Cancel
                    </button>
                    <button type="submit" class="btn btn-primary">
                      Simpan
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </Content>
</template>

<script>
import avatar from "@/assets/img/avatar/avatar-1.png";
import swal from "sweetalert";
import Content from "@/components/Content";
import { mapActions } from "vuex";

export default {
  components: {
    Content,
  },
  data: function () {
    return {
      id: this.$route.params.id,
      nama: "",
      email: "",
      password: "",
      confirm_password: "",
      level: "",
      errors: [],
      error: "",
      selectedImage: null,
      imagePreview: null,
      originalImage: null,
      showModal: false,
    };
  },
  watch: {
    email: function () {
      this.validateEmail(this.email);
    },
    password: function () {
      this.validatePassword(this.password);
    },
    confirm_password: function () {
      this.validateConfirmPassword(this.password, this.confirm_password);
    },
  },
  methods: {
    ...mapActions([
      "get_user_by_id",
      "update_user",
      "change_password",
      "update_user_image",
    ]),
    onImageSelected: function (event) {
      this.selectedImage = event.target.files[0];
      this.imagePreview =
        this.selectedImage != null
          ? URL.createObjectURL(this.selectedImage)
          : this.originalImage;
    },
    clearImage: function () {
      this.selectedImage = null;
      this.imagePreview = this.originalImage;
    },
    editUser: function () {
      if (this.validateBeforeSendData()) {
        if (!this.selectedImage) {
          let data = {
            id: this.id,
            nama_user: this.nama,
            email_user: this.email,
            level_user: this.level,
          };
          this.update_user(data)
            .then((res) => {
              swal("Berhasil!", `${res.nama_user} berhasil diperbarui.`, "success")
                .then(() => {
                  this.$router.push("/pengguna");
                })
                .catch((err) => {
                  this.error = err.response.data.message;
                });
            })
            .catch((err) => {
              swal(
                `Error ${err.response.status}`,
                `${err.response.data.message}`,
                "error"
              );
            });
        } else {
          const data = new FormData();
          data.set("id", this.id);
          data.set("nama_user", this.nama);
          data.set("email_user", this.email);
          data.set("level_user", this.level);
          data.append("foto_user", this.selectedImage, this.selectedImage.name);

          this.update_user_image(data)
            .then((res) => {
              swal("Berhasil!", `${res.name} berhasil diperbarui.`, "success")
                .then(() => {
                  this.$router.push("/pengguna");
                })
                .catch((err) => {
                  this.error = err.response.data.message;
                });
            })
            .catch((err) => {
              swal(
                `Error ${err.response.status}`,
                `${err.response.data.message}`,
                "error"
              );
            });
        }
      } else {
        this.error = "Harap isi semua form yang disediakan!";
      }
    },
    editPassword: function () {
      if (this.validateBeforeSendPassword()) {
        let id = this.id;
        let userData = {
          id: id,
          password_user: this.password,
        };
        this.change_password(userData)
          .then((res) => {
            swal(
              "Berhasil!",
              `${res.nama_user} berhasil diperbarui.`,
              "success"
            ).then(() => {
              this.$router.push("/pengguna");
            });
          })
          .catch((err) => {
            console.error(err);
            this.error = err.response.data.message;
          });
      } else {
        this.error = "Tolong isi form password dan konfirmasi password.";
      }
    },
    getUser: function () {
      let id = this.id;
      this.get_user_by_id(id).then((res) => {
        this.nama = res.nama_user;
        this.email = res.email_user;
        this.level = res.level_user;
        this.originalImage = res.foto_user
          ? `${process.env.VUE_APP_API_URL}/user/${res.foto_user}`
          : avatar;
      });
    },
    validateEmail: function (email) {
      let regex = /(.+)@(.+){2,}\.(.+){2,}/;
      if (regex.test(email)) {
        this.errors["email"] = "";
      } else {
        this.errors["email"] = "Email tidak valid.";
      }
    },
    validatePassword: function (password) {
      let difference = 8 - password.length;
      if (password.length >= 8) {
        this.errors["password"] = "";
      } else {
        this.errors["password"] =
          "Password harus ada 8 karakter! " + difference + " karakter tersisa.";
      }
    },
    validateConfirmPassword: function (password, confirmPassword) {
      if (password == confirmPassword) {
        this.errors["confirm_password"] = "";
        return true;
      } else {
        this.errors["confirm_password"] = "Konfirmasi password tidak cocok.";
        return false;
      }
    },
    validateBeforeSendData: function () {
      if (this.nama == "" || this.email == "" || this.level == "") {
        return false;
      } else if (this.password != this.confirm_password) {
        return false;
      } else {
        return true;
      }
    },
    validateBeforeSendPassword: function () {
      if (this.password == "" || this.confirm_password == "") {
        return false;
      } else if (
        !this.validateConfirmPassword(this.password, this.confirm_password)
      ) {
        console.log("confirm");
        return false;
      } else {
        return true;
      }
    },
  },
  mounted() {
    this.getUser();
  },
};
</script>

<style>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
</style>