<template>
  <Content title="Laporan">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-center mb-4">
          <DateRangePicker v-model="dateRange"></DateRangePicker>
          <button class="btn btn-primary ml-4" @click="gantiTanggal">
            Terapkan
          </button>
        </div>

        <table class="table table-striped" id="table">
          <thead>
            <tr>
              <th>No</th>
              <th>No. Transaksi</th>
              <th>Paket</th>
              <th>Pelanggan</th>
              <th>Tanggal Sewa</th>
              <th>Total Harga</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </Content>
</template>

<script>
import Content from "@/components/Content";
import DateRangePicker from "vue2-daterange-picker";
import moment from "moment";
import $ from "jquery";
import { mapActions } from "vuex";
import jsZip from "jszip";

import "vue2-daterange-picker/dist/vue2-daterange-picker.css";

import "datatables/media/css/jquery.dataTables.css";
import "datatables.net-responsive-bs4/css/responsive.bootstrap4.css";
import "datatables.net-buttons-bs4/css/buttons.bootstrap4.css";

import "datatables/media/js/jquery.dataTables";
import "datatables.net-responsive-bs4/js/responsive.bootstrap4";

import "datatables.net-buttons/js/dataTables.buttons.min";
import "datatables.net-buttons/js/buttons.colVis.min";
import "datatables.net-buttons/js/dataTables.buttons.min";
import "datatables.net-buttons/js/buttons.print.min";
import "datatables.net-buttons/js/buttons.html5.min";

window.JSZip = jsZip;

export default {
  components: {
    Content,
    DateRangePicker,
  },
  data() {
    return {
      dateRange: {
        startDate: new Date(),
        endDate: new Date(),
      },
      dataTable: null,
      laporanKapan: "bulan ini",
    };
  },
  methods: {
    ...mapActions(["get_laporan", "get_laporan_date"]),
    getLaporan() {
      this.get_laporan().then((data) => {
        let number = 1;
        data.forEach((data) => {
          this.dataTable.row
            .add([
              number++,
              data.no_transaksi,
              data.paket_transaksi.nama_paket,
              data.pelanggan_id.nama_pelanggan,
              moment(data.tanggal_transaksi.dari).format("DD/MM/YYYY") +
                " - " +
                moment(data.tanggal_transaksi.sampai).format("DD/MM/YYYY"),
              this.formatRupiah(data.total_harga_transaksi, "Rp "),
              data.status,
              `<div class="btn-group float-right" role="group">` +
                `<button type="button" class="btn btn-success" id="periksa" itemId="${data._id}">Periksa</button>` +
                `</div>`,
            ])
            .draw(false);
        });
      });
    },
    gantiTanggal() {
      const tanggal = {
        dari: this.dateRange.startDate,
        sampai: this.dateRange.endDate,
      };
      this.get_laporan_date(tanggal).then((data) => {
        this.dataTable.rows().remove().draw();
        let number = 1;
        data.forEach((data) => {
          this.dataTable.row
            .add([
              number++,
              data.no_transaksi,
              data.paket_transaksi.nama_paket,
              data.pelanggan_id.nama_pelanggan,
              moment(data.tanggal_transaksi.dari).format("DD/MM/YYYY") +
                " - " +
                moment(data.tanggal_transaksi.sampai).format("DD/MM/YYYY"),
              this.formatRupiah(data.total_harga_transaksi, "Rp "),
              data.status,
              `<div class="btn-group float-right" role="group">` +
                `<button type="button" class="btn btn-success" id="periksa" itemId="${data._id}">Periksa</button>` +
                `</div>`,
            ])
            .draw(false);
        });
      });
    },
    formatRupiah(angka, prefix) {
      var number_string = angka.toString().replace(/[^,\d]/g, ""),
        split = number_string.split(","),
        sisa = split[0].length % 3,
        rupiah = split[0].substr(0, sisa),
        ribuan = split[0].substr(sisa).match(/\d{3}/gi);

      if (ribuan) {
        let separator = sisa ? "." : "";
        rupiah += separator + ribuan.join(".");
      }

      rupiah = split[1] != undefined ? rupiah + "," + split[1] : rupiah;
      return prefix == undefined ? rupiah : rupiah ? "Rp. " + rupiah : "";
    },
  },
  mounted() {
    const self = this;
    this.dataTable = $("#table").DataTable({
      dom: "Bfrtip",
      searching: false,
      buttons: [
        {
          extend: "excel",
          text: "Excel",
          className: "btn btn-success btn-xs mb-2",
        },
        {
          extend: "print",
          text: "Print",
          title: "<center>Laporan JMAudio</center>",
          messageTop: `<center>Laporan Transaksi ${self.laporanKapan}</center>`,
          className: "btn btn-info btn-xs mb-2",
        },
      ],
    });

    this.getLaporan();
  },
};
</script>
