<template>
  <div>
    <div class="text-center pt-3 mt-5 pb-5">
      <h1 class="font-weight-light">Transaksi {{ transaksi.no_transaksi }}</h1>
    </div>
    <h4 class="pt-3 pb-3">Informasi Transaksi</h4>
    <div class="row">
      <div class="col-lg-6">
        <table class="table table-borderless">
          <tr>
            <th width="30%">No. Transaksi</th>
            <td>{{ transaksi.no_transaksi }}</td>
          </tr>
          <tr>
            <th width="30%">Paket</th>
            <td>{{ transaksi.paket.nama }}</td>
          </tr>
          <tr>
            <th width="30%">Harga Paket</th>
            <td>{{ transaksi.paket.harga | rupiah }}/hari</td>
          </tr>
          <tr>
            <th width="30%">Tanggal Sewa</th>
            <td>
              {{ $moment(transaksi.tanggal.dari).format('DD/MM/YYYY') }} -
              {{ $moment(transaksi.tanggal.sampai).format('DD/MM/YYYY') }}
              ({{ totalHari }} hari)
            </td>
          </tr>
        </table>
      </div>
      <div class="col-lg">
        <table class="table table-borderless">
          <tr>
            <th width="30%">Total Harga</th>
            <td>{{ transaksi.totalHarga | rupiah }}</td>
          </tr>
          <tr>
            <th width="30%">DP</th>
            <td>{{ transaksi.dp | rupiah }}</td>
          </tr>
          <tr>
            <th width="30%">Tanggal Dipesan</th>
            <td>
              {{ $moment(transaksi.pesanan_dibuat).format('DD/MM/YYYY') }}
            </td>
          </tr>
          <tr>
            <th width="30%">Status</th>
            <td>
              <span
                :class="
                  (transaksi.status == 'Menunggu Konfirmasi Pembayaran' &&
                    'badge badge-info') ||
                  (transaksi.status == 'Selesai' && 'badge badge-success') ||
                  (transaksi.status == 'Sudah Bayar DP' &&
                    'badge badge-primary') ||
                  (transaksi.status == 'Belum Bayar' &&
                    'badge badge-warning') ||
                  (transaksi.status == 'Dibatalkan' && 'badge badge-danger')
                "
                >{{ transaksi.status }}</span
              >
            </td>
          </tr>
        </table>
      </div>
    </div>

    <h4 class="pt-3 pb-3">Konfirmasi Pembayaran</h4>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label>Nama Pengirim</label>
          <input
            type="text"
            class="form-control"
            v-model="pembayaran.nama_pengirim"
            :readonly="!editable"
          />
        </div>
        <div class="form-group">
          <label>Rekening Pengirim</label>
          <cleave
            v-model="pembayaran.rekening_pengirim"
            :options="options"
            class="form-control"
            :readonly="!editable"
          />
        </div>
        <div class="form-group">
          <label>Bank Pengirim</label>
          <select
            class="form-control"
            v-model="pembayaran.bank_pengirim"
            :disabled="!editable"
          >
            <option v-for="bp in bank_pengirim" :key="bp" :value="bp">
              {{ bp }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Rekening Tujuan</label>
          <select
            class="form-control"
            v-model="pembayaran.rekening_tujuan"
            :disabled="!editable"
          >
            <option v-for="r in rekening" :key="r._id" :value="r._id">
              {{ r.bank }}
              a/n
              {{ r.nama }}
              -
              {{ r.no_rekening }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-lg">
        <div class="form-group">
          <label>Bukti Pembayaran DP</label>
          <input
            type="file"
            class="form-control-file"
            @change="onFileChange"
            accept="image/*"
            v-if="editable"
          />
        </div>
        <div id="preview">
          <img v-if="url" :src="url" class="rounded" width="250" height="250" />
        </div>
      </div>
    </div>
    <div class="float-right" v-if="editable">
      <b-button variant="danger" @click="batalkanPesanan"
        >Batalkan Pesanan</b-button
      >
      <b-button variant="success" @click="simpanPembayaran">Simpan</b-button>
    </div>
  </div>
</template>

<script>
import Swal from 'sweetalert2'
import Cleave from 'vue-cleave-component'

export default {
  head: {
    title: 'Transaksi — JMAudio',
  },
  middleware: ['auth'],
  data() {
    return {
      editable: false,
      url: null,
      id: this.$route.params.id,
      bank_pengirim: ['Bank Central Asia', 'Bank Tabungan Negara', 'BNI'],
      transaksi: {
        no_transaksi: '',
        paket: {
          nama: '',
          harga: '',
        },
        tanggal: {
          dari: '',
          sampai: '',
        },
        totalHarga: '',
        dp: '',
        pesanan_dibuat: '',
        status: '',
      },
      rekening: [],
      totalHari: '',
      pembayaran: {
        id: this.$route.params.id,
        nama_pengirim: '',
        rekening_pengirim: '',
        bank_pengirim: '',
        rekening_tujuan: '',
        bukti_pembayaran: '',
      },
      selectedImage: null,
      options: {
        creditCard: true,
      },
    }
  },
  components: {
    Cleave,
  },
  methods: {
    onFileChange(e) {
      const file = e.target.files[0]
      this.url = URL.createObjectURL(file)
      this.selectedImage = e.target.files[0]
    },
    getRekening() {
      this.$store.dispatch('rekening/get_all_rekening').then((res) => {
        this.rekening = res
      })
    },
    getTransaksi() {
      this.$store.dispatch('transaksi/get_transaksi', this.id).then((res) => {
        this.transaksi.no_transaksi = res.no_transaksi
        this.transaksi.paket.nama = res.paket.nama
        this.transaksi.paket.harga = res.paket.harga
        this.transaksi.tanggal.dari = res.tanggal.dari
        this.transaksi.tanggal.sampai = res.tanggal.sampai
        this.transaksi.totalHarga = res.total
        this.transaksi.dp = res.dp
        this.transaksi.pesanan_dibuat = res.pesanan_dibuat
        this.transaksi.status = res.status

        if (res.pembayaran) {
          this.pembayaran.nama_pengirim = res.pembayaran.nama_pengirim
          this.pembayaran.rekening_pengirim = res.pembayaran.rekening_pengirim
          this.pembayaran.bank_pengirim = res.pembayaran.bank_pengirim
          this.pembayaran.rekening_tujuan = res.pembayaran.rekening_tujuan._id
          this.url =
            'http://localhost:8080/bukti_pembayaran/' +
            res.pembayaran.bukti_pembayaran
        }

        this.totalHari =
          (new Date(res.tanggal.sampai) - new Date(res.tanggal.dari)) /
            (1000 * 3600 * 24) +
          1

        this.editable =
          res.status == 'Belum Bayar' ||
          res.status == 'Menunggu Konfirmasi Pembayaran'
      })
    },
    simpanPembayaran() {
      if (this.validasiSebelumKirim()) {
        const data = new FormData()
        data.set('id', this.id)
        data.set('pembayaran.nama_pengirim', this.pembayaran.nama_pengirim)
        data.set('pembayaran.bank_pengirim', this.pembayaran.bank_pengirim)
        data.set(
          'pembayaran.rekening_pengirim',
          this.pembayaran.rekening_pengirim
        )
        data.set('pembayaran.rekening_tujuan', this.pembayaran.rekening_tujuan)
        this.selectedImage &&
          data.append(
            'pembayaran.bukti_pembayaran',
            this.selectedImage,
            this.selectedImage.name
          )
        this.$store
          .dispatch('transaksi/update_transaksi', data)
          .then((res) => {
            Swal.fire('Berhasil', `${res}`, 'success')
            this.getTransaksi()
          })
          .catch((err) => {
            Swal.fire('Error', `${err}`, 'error')
          })
      } else {
        Swal.fire('Error', 'Harap mengisi semua form yang disediakan.', 'error')
      }
    },
    validasiSebelumKirim() {
      if (
        this.pembayaran.nama_pengirim == '' ||
        this.pembayaran.bank_pengirim == '' ||
        this.pembayaran.rekening_pengirim == '' ||
        this.pembayaran.rekening_tujuan == '' ||
        this.url == null
      ) {
        return false
      }
      return true
    },
    batalkanPesanan() {
      Swal.fire({
        title: 'Batalkan transaksi?',
        text: 'Anda harus memesan ulang jika pesanan dibatalkan.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Batalkan Pesanan',
        cancelButtonText: 'Batal',
      }).then((result) => {
        if (result.isConfirmed) {
          this.$store
            .dispatch('transaksi/batalkan_pesanan', this.id)
            .then((res) => {
              Swal.fire('Berhasil', `${res}`, 'success').then(() => {
                this.$router.push('/transaksi')
              })
            })
            .catch((err) => {
              Swal.fire('Error', `${err}`, 'error')
            })
        }
      })
    },
  },
  mounted() {
    this.getRekening()
    this.getTransaksi()
  },
}
</script>
