<template>
  <div>
    <div class="text-center pt-3 mt-5 pb-5">
      <h1 class="font-weight-light">Transaksi Saya</h1>
    </div>
    <p>Menampilkan semua data transaksi yang sudah Anda buat.</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>No. Transaksi</th>
          <th>Paket</th>
          <th>Tanggal Sewa</th>
          <th>Total Harga</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(trans, index) in transaksi" :key="index">
          <td>{{ trans.no_transaksi }}</td>
          <td>{{ trans.paket.nama }}</td>
          <td>
            {{ $moment(trans.tanggal.dari).format('DD/MM/YYYY') }} -
            {{ $moment(trans.tanggal.sampai).format('DD/MM/YYYY') }}
          </td>
          <td>{{ trans.total | rupiah }}</td>
          <td>
            <span
              :class="
                (trans.status == 'Menunggu Konfirmasi Pembayaran' &&
                  'badge badge-info') ||
                (trans.status == 'Selesai' && 'badge badge-success') ||
                (trans.status == 'Sudah Bayar DP' && 'badge badge-primary') ||
                (trans.status == 'Belum Bayar' && 'badge badge-warning') ||
                (trans.status == 'Dibatalkan' && 'badge badge-danger')
              "
              >{{ trans.status }}</span
            >
          </td>
          <td>
            <b-button
              :to="'/transaksi/' + trans._id"
              size="sm"
              variant="success"
              >Lihat Transaksi</b-button
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  head: {
    title: 'Transaksi Saya — JMAudio',
  },
  middleware: ['auth'],
  data() {
    return {
      transaksi: [],
    }
  },
  methods: {
    getData() {
      this.$store.dispatch('transaksi/get_all_transaksi').then((res) => {
        this.transaksi = res
      })
    },
  },
  mounted() {
    this.getData()
  },
}
</script>
