<template>
  <Content title="Tambah Data Barang">
    <div class="alert alert-danger alert-dismissible show fade" v-if="error">
      <div class="alert-body">
        <button class="close" data-dismiss="alert">
          <span>×</span>
        </button>
        {{ error }}
      </div>
    </div>
    <form @submit.prevent="processItem" class="needs-validation" novalidate>
      <div class="row">
        <div class="col-lg-2">
          <div class="card">
            <div class="card-body">
              <div class="form-group">
                <label>Pratinjau</label>
                <img
                  v-if="selectedImage"
                  :src="imagePreview"
                  class="rounded img-responsive img-preview"
                  alt="Image Preview"
                  width="100%"
                  height="122"
                />
                <img
                  v-else
                  :src="originalImage"
                  class="rounded img-responsive img-preview"
                  alt="Image Preview"
                  width="100%"
                  height="148"
                />
              </div>
              <div class="form-group mt-4">
                <label class="float-right">
                  <a
                    v-if="selectedImage"
                    href="#"
                    data-toggle="tooltip"
                    title="Klik di sini untuk menghapus foto."
                    @click="clearImage"
                  >
                    <code class="text-right">Hapus foto</code>
                  </a>
                </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-file-image"></i>
                    </div>
                  </div>
                  <div class="custom-file">
                    <input
                      type="file"
                      class="custom-file-input"
                      @change="onImageSelected"
                      accept="image/*"
                    />
                    <label class="custom-file-label">Pilih foto</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label>Nama</label>
                    <input type="text" class="form-control" v-model="nama" />
                  </div>
                  <div class="form-group">
                    <label>Nomor Seri</label>
                    <input
                      type="email"
                      class="form-control"
                      v-model="no_seri"
                      @keydown.space.prevent
                    />
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label>Merek Barang</label>
                    <select class="form-control" v-model="merek_id">
                      <option
                        v-for="merek_barang in merek"
                        :key="merek_barang._id"
                        :value="merek_barang._id"
                      >
                        {{ merek_barang.nama_merek_barang }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Jenis Barang</label>
                    <select class="form-control" v-model="jenis_id">
                      <option
                        v-for="jenis_barang in jenis"
                        :key="jenis_barang._id"
                        :value="jenis_barang._id"
                      >
                        {{ jenis_barang.nama_jenis_barang }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label>Stock</label>
                    <cleave
                      v-model="stock"
                      class="form-control"
                      :options="options.numericFormat"
                    ></cleave>
                  </div>
                  <div class="form-group">
                    <label>Tanggal Beli</label>
                    <cleave
                      v-model="tanggal_beli"
                      class="form-control"
                      :options="options.dateFormat"
                      :raw="false"
                      placeholder="DD-MM-YYY"
                    ></cleave>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label>Harga Beli</label>
                    <cleave
                      v-model="harga_beli"
                      class="form-control"
                      :options="options.numericFormat"
                    ></cleave>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-right">
              <button type="submit" class="btn btn-primary">Simpan</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </Content>
</template>

<script>
import Cleave from "@/components/Cleave.js";
import moment from "moment";
import avatar from "@/assets/img/avatar/avatar-1.png";
import swal from "sweetalert";
import Content from "@/components/Content";
import { mapActions } from "vuex";

export default {
  components: {
    Content,
    Cleave,
  },
  data: function() {
    return {
      no_seri: "",
      nama: "",
      jenis_id: "",
      merek_id: "",
      stock: "",
      tanggal_beli: "",
      harga_beli: "",
      jenis: [],
      merek: [],
      error: "",
      selectedImage: null,
      imagePreview: null,
      originalImage: avatar,
      options: {
        numericFormat: {
          numeral: true,
          numeralThousandsGroupStyle: "thousand",
        },
        dateFormat: {
          date: true,
          delimiter: "-",
        },
      },
    };
  },
  methods: {
    ...mapActions([
      "create_new_barang",
      "get_all_jenis_barang",
      "get_all_merek_barang",
    ]),
    onImageSelected(event) {
      this.selectedImage = event.target.files[0];
      this.imagePreview =
        this.selectedImage != null
          ? URL.createObjectURL(this.selectedImage)
          : this.originalImage;
    },
    clearImage() {
      this.selectedImage = null;
      this.imagePreview = this.originalImage;
    },
    processItem() {
      if (this.validateBeforeSendData()) {
        const tanggal_beli = moment(this.tanggal_beli, "DD-MM-YYYY").toString();
        const data = new FormData();
        data.set("no_seri_barang", this.no_seri);
        data.set("nama_barang", this.nama);
        data.set("jenis_barang_id", this.jenis_id);
        data.set("merek_barang_id", this.merek_id);
        data.set("stok_barang", this.stock);
        data.set("tanggal_beli_barang", tanggal_beli);
        data.set("harga_beli_barang", this.harga_beli);
        data.append("foto_barang", this.selectedImage, this.selectedImage.name);

        this.create_new_barang(data)
          .then((res) => {
            swal("Berhasil!", `${res}`, "success")
              .then(() => {
                this.$router.push("/barang");
              })
              .catch((err) => {
                this.error = err.response.data.message;
              });
          })
          .catch((err) => {
            swal(
              `Error ${err.response.status}`,
              `${err.response.data.message}`,
              "error"
            );
          });
      } else {
        this.error = "Harap isi semua form yang disediakan!";
      }
    },
    getJenisBarang() {
      this.get_all_jenis_barang().then((res) => {
        this.jenis = res;
      });
    },
    getMerekBarang() {
      this.get_all_merek_barang().then((res) => {
        this.merek = res;
      });
    },
    validateBeforeSendData() {
      if (
        this.no_seri == "" ||
        this.nama == "" ||
        this.jenis_id == "" ||
        this.merek_id == "" ||
        this.stock == "" ||
        this.selectedImage == null ||
        this.tanggal_beli == "" ||
        this.harga_beli == ""
      ) {
        return false;
      } else {
        return true;
      }
    },
  },
  mounted() {
    this.getJenisBarang();
    this.getMerekBarang();
  },
};
</script>
