<template>
  <Content title="Rekening">
    <div class="card">
      <div class="card-header">
        <button class="btn btn-primary" @click="showModalCreate = true">
          Tambah Rekening
        </button>
      </div>
      <div class="card-body">
        <table class="table table-striped" id="table">
          <thead>
            <tr>
              <th>No</th>
              <th>Nama</th>
              <th>Bank</th>
              <th>Nomor Rekening</th>
              <th class="text-right">Aksi</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <div v-if="showModalCreate">
      <transition name="modal">
        <div class="modal-mask shadow">
          <div class="modal-wrapper">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Tambah Rekening</h5>
                </div>
                <form
                  @submit.prevent="createItem"
                  class="needs-validation"
                  novalidate
                >
                  <div class="modal-body">
                    <div class="card-body">
                      <div class="form-group">
                        <label>Nama</label>
                        <input
                          type="text"
                          class="form-control"
                          v-model="create.nama_rekening"
                        />
                      </div>
                      <div class="form-group">
                        <label>Bank</label>
                        <select class="form-control" v-model="create.bank">
                          <option
                            v-for="(bank, index) in banks"
                            :value="bank.nama_bank"
                            :key="index"
                            >{{ bank.nama_bank }}</option
                          >
                        </select>
                      </div>
                      <div class="form-group">
                        <label>No Rekening</label>
                        <cleave
                          v-model="create.no_rekening"
                          class="form-control"
                          :options="options"
                        ></cleave>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      @click="showModalCreate = false"
                    >
                      Batal
                    </button>
                    <button type="submit" class="btn btn-primary">
                      Simpan
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
    <div v-if="showModalEdit">
      <transition name="modal">
        <div class="modal-mask shadow">
          <div class="modal-wrapper">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Ubah Rekening</h5>
                </div>
                <form
                  @submit.prevent="updateItem"
                  class="needs-validation"
                  novalidate
                >
                  <div class="modal-body">
                    <div class="card-body">
                      <div class="form-group">
                        <label>Nama</label>
                        <input
                          type="text"
                          class="form-control"
                          v-model="edit.nama_rekening"
                        />
                      </div>
                      <div class="form-group">
                        <label>Bank</label>
                        <select class="form-control" v-model="edit.bank">
                          <option
                            v-for="(bank, index) in banks"
                            :value="bank.nama_bank"
                            :key="index"
                            >{{ bank.nama_bank }}</option
                          >
                        </select>
                      </div>
                      <div class="form-group">
                        <label>No Rekening</label>
                        <cleave
                          v-model="edit.no_rekening"
                          class="form-control"
                          :options="options"
                        ></cleave>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      @click="showModalEdit = false"
                    >
                      Batal
                    </button>
                    <button type="submit" class="btn btn-primary">
                      Simpan
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </Content>
</template>

<script>
import $ from "jquery";
import swal from "sweetalert";
import Banks from "../../../assets/bank.json";

import "datatables/media/css/jquery.dataTables.css";
import "datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css";
import "datatables.net-select-bs4/css/select.bootstrap4.min.css";

import "datatables/media/js/jquery.dataTables";
import "datatables.net-responsive-bs4/js/responsive.bootstrap4";
import "datatables.net-select-bs4/js/select.bootstrap4";

import Cleave from "@/components/Cleave.js";

import { mapActions } from "vuex";
import Content from "@/components/Content";

export default {
  components: {
    Content,
    Cleave,
  },
  data() {
    return {
      create: {
        nama_rekening: null,
        bank: null,
        no_rekening: null,
      },
      edit: {
        id: null,
        nama_rekening: null,
        bank: null,
        no_rekening: null,
      },
      dataTable: null,
      showModalCreate: false,
      showModalEdit: false,
      options: {
        creditCard: true,
      },
      banks: Banks,
    };
  },
  methods: {
    ...mapActions([
      "get_all_rekening",
      "create_new_rekening",
      "get_rekening",
      "update_rekening",
      "delete_rekening",
    ]),
    getData() {
      this.get_all_rekening().then((data) => {
        let number = 1;
        data.forEach((data) => {
          this.dataTable.row
            .add([
              number++,
              data.nama_rekening,
              data.bank,
              data.no_rekening,
              `<div class="btn-group float-right" role="group">` +
                `<button type="button" class="btn btn-success" id="edit" itemId="${data._id}">Ubah</button>` +
                `<button type="button" class="btn btn-danger" id="delete" itemId="${data._id}">Hapus</button>` +
                `</div>`,
            ])
            .draw(false);
        });
      });
    },
    getDataById(id) {
      return this.get_rekening(id);
    },
    deleteItem(id) {
      return this.delete_rekening(id);
    },
    createItem() {
      let data = {
        nama_rekening: this.create.nama_rekening,
        bank: this.create.bank,
        no_rekening: this.create.no_rekening,
      };
      this.create_new_rekening(data)
        .then((res) => {
          swal("Berhasil!", `${res}`, "success")
            .then(() => {
              this.showModalCreate = false;
              this.create.nama_rekening = null;
              this.create.bank = null;
              this.create.no_rekening = null;
              this.refreshDataTable();
            })
            .catch((err) => {
              this.error = err.response.data.message;
            });
        })
        .catch((err) => {
          swal(
            `Error ${err.response.status}`,
            `${err.response.data.message}`,
            "error"
          );
        });
    },
    updateItem() {
      let data = {
        id: this.edit.id,
        nama_rekening: this.edit.nama_rekening,
        bank: this.edit.bank,
        no_rekening: this.edit.no_rekening,
      };
      this.update_rekening(data)
        .then((res) => {
          swal("Berhasil!", `${res}`, "success")
            .then(() => {
              this.showModalEdit = false;
              this.refreshDataTable();
            })
            .catch((err) => {
              this.error = err.response.data.message;
            });
        })
        .catch((err) => {
          swal(
            `Error ${err.response.status}`,
            `${err.response.data.message}`,
            "error"
          );
        });
    },
    refreshDataTable() {
      this.dataTable
        .rows()
        .remove()
        .draw();
      this.getData();
      return;
    },
  },
  mounted() {
    const self = this;
    this.dataTable = $("#table").DataTable({
      responsive: true,
    });
    this.getData();
    $("#table tbody").on("click", "#delete", function() {
      let data = self.dataTable.row($(this).parents("tr")).data();
      let itemId = $(this).attr("itemId");
      swal({
        title: `Hapus ${data[1]} ?`,
        text: "Data yang sudah dihapus tidak dapat dikembalikan lagi!",
        icon: "warning",
        buttons: ["Batal", "Hapus"],
        dangerMode: true,
      }).then(async (willDelete) => {
        if (willDelete) {
          let deleteItem = await self.deleteItem(itemId);
          if (deleteItem) {
            swal("Terhapus!", `${deleteItem}`, "success").then(() => {
              self.refreshDataTable();
            });
          } else {
            swal("Error!", `Error: ${deleteItem}`, "error");
          }
        }
      });
    });
    $("#table tbody").on("click", "#edit", function() {
      let itemId = $(this).attr("itemId");
      self.getDataById(itemId).then((data) => {
        self.edit.id = itemId;
        self.edit.nama_rekening = data.nama_rekening;
        self.edit.bank = data.bank;
        self.edit.no_rekening = data.no_rekening;
        self.showModalEdit = true;
      });
    });
  },
};
</script>

<style>
/* Temporarily Hide Ugly Black Background At Navigation */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: none !important;
  background-color: transparent !important;
  background: transparent !important;
}

/* Center text */
table.dataTable tbody td {
  vertical-align: middle;
}
</style>

<style>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
</style>
