<template>
  <div>
    <CoolLightBox :items="images" :index="index" @close="index = null">
    </CoolLightBox>

    <section class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 lg:py-20">
      <ul role="list" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4">
        <li v-for="(item, imageIndex) in images" :key="imageIndex" class="relative m-1" @click="index = imageIndex">
          <div
            class="block overflow-hidden w-full group aspect-w-10 aspect-h-7"
          >
            <img
              :src="item"
              width="300"
              height="300"
              class="object-cover pointer-events-none group-hover:opacity-75"
            />
          </div>
        </li>
      </ul>
    </section>
  </div>
</template>

<script>
import aosMixin from "~/mixins/aos";
import CoolLightBox from "vue-cool-lightbox";
import "vue-cool-lightbox/dist/vue-cool-lightbox.min.css";

export default {
  props: ["images"],
  mixins: [aosMixin],
  components: {
    CoolLightBox
  },
  data() {
    return {
      index: null,
    };
  },
};
</script>
