<template>
  <nav>
    <div class="flex items-center justify-between px-4 py-2 pt-5">
      <!-- Logo -->
      <div class="flex items-center justify-start w-1/4">
        <a href="#">
          <span class="sr-only">Home</span>
          <span class="text-2xl font-semibold"
            ><span class="text-indigo-500">JM</span>Audio
          </span>
        </a>
      </div>

      <!-- Mobile menu button -->
      <button
        @click="isNavOpen = !isNavOpen"
        x-cloak
        class="inline-flex items-center justify-center text-gray-400 rounded-md lg:hidden focus:outline-none focus:ring-2 focus:ring-indigo-500"
        type="button"
        aria-controls="mobile-menu"
        :aria-expanded="isNavOpen ? 'true' : 'false'"
      >
        <span class="sr-only">Open main menu</span>

        <!-- Menu icon -->
        <svg
          v-if="!isNavOpen"
          class="w-8 h-8"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          />
        </svg>

        <!-- X icon -->
        <svg
          v-if="isNavOpen"
          class="w-8 h-8"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>

      <!-- Desktop Middle links -->
      <div class="items-center justify-center hidden w-1/2 lg:flex">
        <nuxt-link
          to="/"
          class="px-4 py-2 text-base font-medium text-gray-400 transition-colors rounded-full hover:text-gray-900 focus:outline-none"
          exact-active-class="text-gray-800"
        >
          Beranda
        </nuxt-link>
        <nuxt-link
          to="/paket"
          class="px-4 py-2 text-base font-medium text-gray-400 transition-colors rounded-full hover:text-gray-900 focus:outline-none"
          exact-active-class="text-gray-800"
        >
          Paket
        </nuxt-link>
        <nuxt-link
          to="/tentang"
          class="px-4 py-2 text-base font-medium text-gray-400 transition-colors rounded-full hover:text-gray-900 focus:outline-none"
          exact-active-class="text-gray-800"
        >
          Tentang
        </nuxt-link>
        <nuxt-link
          to="/galeri"
          class="px-4 py-2 text-base font-medium text-gray-400 transition-colors rounded-full hover:text-gray-900 focus:outline-none"
          exact-active-class="text-gray-800"
        >
          Galeri
        </nuxt-link>
      </div>

      <!-- Desktop Right links -->
      <div class="items-center justify-end hidden w-1/4 space-x-2 lg:flex">
        <template v-if="isAuthenticated">
          <div class="dropdown inline-block relative">
            <button
              class="text-gray-400 font-semibold py-2 px-4 rounded inline-flex items-center"
            >
              <span class="mr-1">Profil</span>
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </button>
            <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
              <li>
                <nuxt-link
                  to="/me"
                  class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                  >Akun</nuxt-link
                >
              </li>
              <li>
                <nuxt-link
                  to="/transaksi"
                  class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                  >Transaksi</nuxt-link
                >
              </li>
              <li>
                <a
                  @click="logout"
                  class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                  href="#"
                  >Keluar</a
                >
              </li>
            </ul>
          </div>
        </template>

        <template v-else>
          <nuxt-link
            to="/auth"
            class="px-4 py-2 text-base font-medium text-gray-400 transition-colors rounded-full hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500"
          >
            Masuk
          </nuxt-link>
          <nuxt-link
            to="/auth/daftar"
            class="inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-full shadow-sm whitespace-nowrap hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
            Daftar
          </nuxt-link>
        </template>
      </div>
    </div>

    <!-- Mobile menu -->
    <div
      id="mobile-menu"
      class="flex flex-col items-center space-y-3 lg:hidden"
      v-if="isNavOpen"
      @click="isNavOpen = false"
    >
      <nuxt-link
        to="/"
        class="px-4 py-2 text-base font-medium text-gray-400 transition-colors rounded-full hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-700"
        exact-active-class="text-gray-800"
      >
        Beranda
      </nuxt-link>
      <nuxt-link
        to="paket"
        class="px-4 py-2 text-base font-medium text-gray-400 transition-colors rounded-full hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-700"
        exact-active-class="text-gray-800"
      >
        Paket
      </nuxt-link>
      <nuxt-link
        to="tentang"
        class="px-4 py-2 text-base font-medium text-gray-400 transition-colors rounded-full hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-700"
        exact-active-class="text-gray-800"
      >
        Tentang
      </nuxt-link>
      <nuxt-link
        to="galeri"
        class="px-4 py-2 text-base font-medium text-gray-400 transition-colors rounded-full hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-700"
        exact-active-class="text-gray-800"
      >
        Galeri
      </nuxt-link>
      <template v-if="isAuthenticated">
        <nuxt-link
          to="profil"
          class="px-4 py-2 text-base font-medium text-gray-400 transition-colors rounded-full hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500"
        >
          Profil
        </nuxt-link>
        <nuxt-link
          to="/transaksi"
          class="px-4 py-2 text-base font-medium text-gray-400 transition-colors rounded-full hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500"
        >
          Transaksi
        </nuxt-link>
        <a
          href="#"
          @click="logout"
          class="px-4 py-2 text-base font-medium text-gray-400 transition-colors rounded-full hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500"
        >
          Keluar
        </a>
      </template>
      <template v-else>
        <nuxt-link
          to="auth"
          class="px-4 py-2 text-base font-medium text-gray-400 transition-colors rounded-full hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500"
        >
          Masuk
        </nuxt-link>
        <nuxt-link
          to="auth/daftar"
          class="inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-full shadow-sm whitespace-nowrap hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        >
          Daftar
        </nuxt-link>
      </template>
    </div>
  </nav>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters(["isAuthenticated"]),
  },
  data() {
    return {
      isNavOpen: false,
    };
  },
  methods: {
    async logout() {
      await this.$auth.logout();
    },
  },
};
</script>

<style scoped>
.dropdown:hover .dropdown-menu {
  display: block;
  z-index: 999;
}
</style>
