<template>
  <div class="py-20">
    <div class="px-3 mx-auto flex flex-wrap flex-col md:flex-row">
      <div
        class="flex flex-col w-full md:w-2/5 justify-center items-start text-left md:text-left"
      >
        <div class="text-6xl font-semibold text-gray-900 leading-none">
          Make your event wonderful
        </div>
        <div class="mt-6 text-xl font-light text-true-gray-500 antialiased">
          A better experience for your event audio system.
        </div>
        <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
          <div class="rounded-md shadow">
            <nuxt-link
              to="/paket"
              class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10"
            >
              Lihat Paket
            </nuxt-link>
          </div>
        </div>
      </div>
      <div class="flex justify-end md:w-3/5">
        <img
          class="w-full md:w-4/5 z-50"
          src="https://tailwindtoolbox.github.io/Landing-Page/hero.png"
        />
      </div>
    </div>
    <div class="mt-12 lg:mt-32 flex justify-center">
      <button
        type="button"
        class="flex items-center justify-center w-12 h-12 rounded-full bg-cool-gray-100 text-gray-800 animate-bounce hover:text-gray-900 hover:bg-cool-gray-50 transition duration-300 ease-in-out cursor-pointer"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 14l-7 7m0 0l-7-7m7 7V3"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</template>