<template>
  <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
    <!-- Article -->
    <article class="overflow-hidden rounded-lg shadow-lg">
      <img
        alt="Placeholder"
        class="object-fill h-64 w-full"
        :src="this.$config.serverURL + '/paket/' + fotoPaket"
      />

      <header
        class="flex items-center justify-between leading-tight p-2 md:p-4"
      >
        <h1 class="text-lg">
          {{ namaPaket }}
        </h1>
      </header>

      <body class="p-2 md:p-4">
        {{ keteranganPaket | filterKeterangan }}
      </body>

      <footer>
        <nuxt-link :to="'/paket/' + idPaket">
          <button
            class="bottom-0 bg-indigo-500 text-white w-full px-2 py-2 hover:bg-indigo-800"
          >
            Selengkapnya
          </button>
        </nuxt-link>
      </footer>
    </article>
  </div>
</template>

<script>
import aosMixin from "~/mixins/aos";

export default {
  props: ["namaPaket", "keteranganPaket", "fotoPaket", "idPaket"],
  mixins: [aosMixin],
  filters: {
    filterKeterangan: function(string) {
      const bersihkanString = string
        .replace(/<\/?[^>]+>/gi, " ")
        .replace("&nbsp;", " ");
      const potongString =
        bersihkanString
          .split(" ")
          .slice(0, 15)
          .join(" ") + "...";
      return potongString;
    }
  }
};
</script>
