<template>
  <div>
    <Carousel />
    <div class="text-center pt-3 mt-5 pb-5">
      <h1 class="font-weight-light">Tentang Kami</h1>
    </div>
    <b-row>
      <b-col>
        <h1>CV. JMAudio</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea hic
          quibusdam numquam exercitationem ducimus aspernatur pariatur provident
          quis qui enim blanditiis mollitia repellat, optio corrupti sit
          excepturi! Eaque, itaque praesentium!
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis
          similique expedita inventore magni ipsa! Magnam minima dolor doloribus
          adipisci, consequatur nihil, aut expedita ab quidem repudiandae
          exercitationem aperiam error quam!
        </p>
        <b-button to="/tentang-kami" variant="danger">
          Selengkapnya...
        </b-button>
      </b-col>
      <b-col>
        <img :src="team" class="d-block w-100" alt="Tentang Kami" />
      </b-col>
    </b-row>

    <div class="price-sec-wrap">
      <div class="text-center pt-5 mt-5 pb-5">
        <h1 class="font-weight-light">Paket Populer</h1>
      </div>
      <div class="row">
        <div
          class="col-lg-4"
          v-for="(p, index) in paket.slice(0, 3)"
          :key="index"
        >
          <div class="price-box">
            <div class="">
              <div v-if="index == 0" class="price-label basic">
                {{ p.nama }}
              </div>
              <div v-if="index == 1" class="price-label value">
                {{ p.nama }}
              </div>
              <div v-if="index == 2" class="price-label premium">
                {{ p.nama }}
              </div>
              <div class="price">Rp. {{ formatNumber(p.harga) }}</div>
              <div class="price-info">Per Hari.</div>
            </div>
            <div class="info">
              <ul>
                <li v-for="barang in p.barang.slice(0, 3)" :key="barang._id">
                  <i class="fas fa-check"></i>
                  {{ barang.jumlah }} {{ barang.data.nama }}
                </li>
                <li>
                  <i class="fas fa-check"></i>
                  Dan masih banyak lagi...
                </li>
              </ul>
              <b-link :to="'/paket/' + p._id" class="plan-btn"
                >Lihat Paket</b-link
              >
            </div>
          </div>
        </div>
      </div>
      <div class="text-center pt-3">
        <b-link to="/paket">Lihat paket lainnya</b-link>
      </div>
    </div>

    <div class="col-12 text-center pt-5 mt-5 pb-5">
      <h1 class="font-weight-light">Galeri</h1>
    </div>
    <client-only>
      <gallery :images="images" :index="index" @close="index = null"></gallery>
      <div class="row justify-content-center">
        <div
          class="image"
          v-for="(image, imageIndex) in images"
          :key="imageIndex"
          @click="index = imageIndex"
          :style="{
            backgroundImage: 'url(' + image + ')',
            width: '300px',
            height: '200px',
          }"
        ></div>
      </div>
    </client-only>
    <!-- <div class="text-center">Lihat galeri lainnya</div> -->

    <div class="row justify-content-center pb-5 mb-5">
      <div class="col-12 text-center pt-5 mt-5 pb-5">
        <h1 class="font-weight-light">Hubungi Kami</h1>
      </div>
      <div class="col-lg">
        <img :src="contactUs" class="d-block w-100" alt="Hubungi Kami" />
      </div>
      <div class="col-lg">
        Jangan ragu untuk bertanya mengenai barang dan paket yang kami tawarkan.
        <h5 class="font-weight-light mt-3">CV. JMAudio</h5>
        <p>
          Jl. Siliwangi No.69, RW.4, RT.20, Kecamatan Benda Baru, Tangerang
          Selatan, 1569.
        </p>
        <ul class="list-unstyled">
          <li>
            <i class="fab fa-whatsapp text-success"></i> (+62) 8123-4567-890
          </li>
          <li><i class="far fa-envelope"></i> kontak@jmaudio.id</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import ContactUs from '@/assets/images/contact_us.png'
import Team from '@/assets/images/team_spirit.png'
import '@/assets/css/style.css'
import { mapActions } from 'vuex'

export default {
  head: {
    title: 'Beranda — JMAudio',
  },
  data() {
    return {
      images: [
        require('@/assets/images/galeri/1.jpg'),
        require('@/assets/images/galeri/2.jpg'),
        require('@/assets/images/galeri/3.jpg'),
        require('@/assets/images/galeri/4.jpg'),
        require('@/assets/images/galeri/5.jpg'),
        require('@/assets/images/galeri/6.jpg'),
      ],
      index: null,
      team: Team,
      contactUs: ContactUs,
      paket: [],
    }
  },
  methods: {
    getData() {
      this.$store.dispatch('paket/get_all_paket').then((res) => {
        this.paket = res
      })
    },
    formatNumber(num) {
      if (num >= 1000000000) {
        return (num / 1000000000).toFixed(1).replace(/\.0$/, '') + 'M'
      }
      if (num >= 1000000) {
        return (num / 1000000).toFixed(1).replace(/\.0$/, '') + 'Jt'
      }
      if (num >= 1000) {
        return (num / 1000).toFixed(1).replace(/\.0$/, '') + 'Rb'
      }
      return num
    },
  },
  mounted() {
    this.getData()
  },
}
</script>

<style>
.image {
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #ebebeb;
  margin: 5px auto;
}
</style> 
