<template>
  <div>
    <div class="text-center pt-3 mt-5 pb-5">
      <h1 class="font-weight-light">{{ judul }}</h1>
    </div>
    <div class="col d-flex justify-content-center">
      <Notifikasi :pesan="error" :tipe="'danger'" v-if="error" />
      <Notifikasi
        :pesan="pendaftaranBerhasil"
        :tipe="'success'"
        v-if="pendaftaranBerhasil"
      />
    </div>
    <div class="col d-flex justify-content-center" v-if="isLoginForm">
      <div class="card" style="width: 30rem">
        <div class="card-body">
          <div class="form-group">
            <label for="nomor_telepon">Nomor Telepon</label>
            <cleave
              v-model="nomor_telepon"
              :options="options"
              class="form-control"
              name="card"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" v-model="password" />
          </div>
          <button class="btn btn-danger float-right" @click="login">
            Masuk
          </button>
        </div>
      </div>
    </div>
    <div class="text-center pt-5" v-if="isLoginForm">
      Belum punya akun? <b-link @click="daftarForm">Daftar</b-link>
    </div>

    <div class="col d-flex justify-content-center" v-if="!isLoginForm">
      <div class="card" style="width: 30rem">
        <div class="card-body">
          <div class="row">
            <div class="col-lg">
              <div class="form-group">
                <label>Nama</label>
                <input type="text" class="form-control" v-model="daftar.nama" />
              </div>
            </div>
            <div class="col-lg">
              <div class="form-group">
                <label for="nomor_telepon">Nomor Telepon</label>
                <cleave
                  v-model="daftar.nomor_telepon"
                  :options="options"
                  class="form-control"
                  name="card"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg">
              <div class="form-group">
                <label for="nomor_telepon">Password</label>
                <input
                  type="password"
                  class="form-control"
                  v-model="daftar.password"
                />
              </div>
            </div>
            <div class="col-lg">
              <div class="form-group">
                <label for="password">Konfirmasi Password</label>
                <input
                  type="password"
                  class="form-control"
                  v-model="confirmPassword"
                />
                <div
                  class="invalid-feedback d-block"
                  v-if="confirmPasswordMessage"
                >
                  {{ confirmPasswordMessage }}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Alamat</label>
            <textarea
              name=""
              id=""
              cols="2"
              rows="2"
              class="form-control"
              v-model="daftar.alamat"
            ></textarea>
          </div>
          <div class="row">
            <div class="col-lg">
              <div class="form-group">
                <label for="nomor_telepon">Kecamatan</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="daftar.kecamatan"
                />
              </div>
            </div>
            <div class="col-lg">
              <div class="form-group">
                <label for="nomor_telepon">Kelurahan</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="daftar.kelurahan"
                />
              </div>
            </div>
          </div>
          <button class="btn btn-danger float-right" @click="daftarAction">
            Daftar
          </button>
        </div>
      </div>
    </div>
    <div class="text-center pt-5" v-if="!isLoginForm">
      Sudah punya akun? <b-link @click="loginForm">Masuk</b-link>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Cleave from 'vue-cleave-component'
import 'cleave.js/dist/addons/cleave-phone.id'

export default {
  middleware: 'guest',
  data() {
    return {
      nomor_telepon: '',
      password: '',
      judul: 'Masuk',
      isLoginForm: true,
      error: null,
      daftar: {
        nama: '',
        nomor_telepon: '',
        alamat: '',
        kecamatan: '',
        kelurahan: '',
        password: '',
      },
      confirmPassword: '',
      confirmPasswordMessage: '',
      pendaftaranBerhasil: '',
      options: {
        phone: true,
        phoneRegionCode: 'ID',
      },
    }
  },
  components: {
    Cleave,
  },
  head() {
    return {
      title: `${this.judul} — JMAudio`,
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser']),
  },
  watch: {
    confirmPassword() {
      this.validatePassword()
    },
  },
  methods: {
    async login() {
      try {
        await this.$auth.loginWith('local', {
          data: {
            nomor_telepon: this.nomor_telepon,
            password: this.password,
          },
        })
        if (this.$router.from('/paket')) {
          this.$router.back()
        } else {
          this.$router.push('/')
        }
      } catch (e) {
        this.error = e.response.data.message
      }
    },
    daftarAction() {
      if (this.validateBeforeRegister()) {
        this.$store
          .dispatch('register', this.daftar)
          .then(() => {
            this.error = null
            this.pendaftaranBerhasil = 'Pendaftaran berhasil! Silakan masuk'
            this.loginForm()

            this.daftar.nama = ''
            this.daftar.nomor_telepon = ''
            this.daftar.alamat = ''
            this.daftar.kecamatan = ''
            this.daftar.kelurahan = ''
            this.daftar.password = ''
          })
          .catch((e) => {
            this.error = e.response.data.message
            if (e.response.data.code == 11000) {
              this.error = 'Nomor telepon sudah digunakan.'
            }
          })
      }
    },
    daftarForm() {
      this.isLoginForm = false
      this.judul = 'Daftar'
      this.error = null
    },
    loginForm() {
      this.isLoginForm = true
      this.judul = 'Masuk'
    },
    validateBeforeRegister() {
      if (
        (this.daftar.nama == '' ||
          this.daftar.nomor_telepon == '' ||
          this.daftar.alamat == '',
        this.daftar.kecamatan == '',
        this.daftar.kelurahan == '',
        this.daftar.password == '')
      ) {
        return false
      } else {
        return true
      }
    },
    validatePassword() {
      if (this.daftar.password == this.confirmPassword) {
        this.confirmPasswordMessage = ''
      } else {
        this.confirmPasswordMessage = 'Konfirmasi password tidak cocok.'
      }
    },
  },
}
</script>
