<template>
  <div>
    <div class="text-center pt-3 mt-5 pb-5">
      <h1 class="font-weight-light">Tentang Kami</h1>
    </div>
  </div>
</template>

<script>
export default {
  head: {
    title: 'Tentang Kami — JMAudio',
  },
}
</script>
