<template>
  <div id="app">
    <div v-if="isLoggedIn && this.$router.currentRoute.name != 'PageNotFound'">
      <div class="main-wrapper">
        <div class="navbar-bg"></div>
        <Navbar />
        <Sidebar />
        <router-view></router-view>
      </div>
    </div>

    <div v-else-if="this.$router.currentRoute.name == 'PageNotFound'">
      <PageNotFound />
    </div>

    <div v-else>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar";
import Sidebar from "@/components/Sidebar";
import { mapGetters } from "vuex";

import PageNotFound from "@/components/Page404.vue";

export default {
  computed: {
    ...mapGetters(["isLoggedIn"]),
  },
  components: {
    Navbar,
    Sidebar,
    PageNotFound,
  },
  watch: {
    $route: {
      handler: function(to) {
        document.title = to.meta.title || process.env.VUE_APP_SITE_TITLE;
      },
      immediate: true,
    },
  },
};
</script>
