<template>
  <Content title="Informasi Transaksi">
    <h2 class="section-title">Informasi Pembelian</h2>
    <div class="card shadow">
      <div class="card-body">
        <div class="row">
          <div class="col-lg">
            <table class="table table-borderless">
              <h4 class="font-weight-light">Data Pelanggan</h4>
              <tr>
                <th>Nama:</th>
                <td>{{ transaksi.pelanggan_id.nama_pelanggan}}</td>
              </tr>
              <tr>
                <th>Email:</th>
                <td>{{ transaksi.pelanggan_id.email_pelanggan}}</td>
              </tr>
              <tr>
                <th>Alamat:</th>
                <td>{{ transaksi.pelanggan_id.alamat_pelanggan}}</td>
              </tr>
              <tr>
                <th>Kecamatan:</th>
                <td>{{ transaksi.pelanggan_id.kecamatan_pelanggan}}</td>
              </tr>
              <tr>
                <th>Kelurahan:</th>
                <td>{{ transaksi.pelanggan_id.kelurahan_pelanggan }}</td>
              </tr>
            </table>
          </div>
          <div class="col-lg">
            <table class="table table-borderless">
              <h4 class="font-weight-light">Pembelian Paket</h4>
              <tr>
                <th>Nama Paket:</th>
                <td>{{ transaksi.paket_transaksi.nama_paket }}</td>
              </tr>
              <tr>
                <th>Harga Paket:</th>
                <td>{{ formatRupiah(transaksi.paket_transaksi.harga_paket, "Rp") }}</td>
              </tr>
              <tr>
                <th>Tanggal Pemesanan:</th>
                <td>
                  {{ transaksi.tanggal_transaksi.dari | moment }}
                  -
                  {{ transaksi.tanggal_transaksi.sampai | moment }}
                  ({{ totalHari + " hari." }}).
                </td>
              </tr>
              <tr>
                <th>Total Harga:</th>
                <td>
                  {{ formatRupiah(transaksi.total_harga_transaksi, "Rp") }} (DP:
                  {{ formatRupiah(transaksi.dp_transaksi, "Rp") }})
                </td>
              </tr>
              <tr>
                <th>Status:</th>
                <td class="form-group">
                  <select
                    class="form-control col-sm-5"
                    v-model="transaksi.status_transaksi"
                  >
                    <option value="Belum Bayar">Belum Bayar</option>
                    <option value="Menunggu Konfirmasi Pembayaran">
                      Menunggu Konfirmasi Pembayaran
                    </option>
                    <option value="Sudah Bayar DP">Sudah Bayar DP</option>
                    <option value="Selesai">Selesai</option>
                    <option value="Dibatalkan">Dibatalkan</option>
                  </select>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <template v-if="transaksi.pembayaran_transaksi">
      <h2 class="section-title">Informasi Pembayaran</h2>
      <div class="card shadow">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <table class="table table-borderless">
                <h4 class="font-weight-light">Pengirim</h4>
                <tr>
                  <th>Nama Pengirim:</th>
                  <td>{{ transaksi.pembayaran_transaksi.nama_pengirim }}</td>
                </tr>
                <tr>
                  <th>Bank Pengirim:</th>
                  <td>{{ transaksi.pembayaran_transaksi.bank_pengirim }}</td>
                </tr>
                <tr>
                  <th>Bank Pengirim:</th>
                  <td>{{ transaksi.pembayaran_transaksi.rekening_pengirim }}</td>
                </tr>
                <h4 class="font-weight-light pt-3">Penerima</h4>
                <tr>
                  <th>Nama Penerima:</th>
                  <td>
                    {{ transaksi.pembayaran_transaksi.rekening_tujuan_id.nama_rekening }}
                  </td>
                </tr>
                <tr>
                  <th>Bank Penerima:</th>
                  <td>{{ transaksi.pembayaran_transaksi.rekening_tujuan_id.bank }}</td>
                </tr>
                <tr>
                  <th>Rekening Penerima:</th>
                  <td>
                    {{ transaksi.pembayaran_transaksi.rekening_tujuan_id.no_rekening }}
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-lg-6">
              <div class="form-group pt-5">
                <label><strong>Bukti Pembayaran:</strong></label>
                <br />
                <img
                  :src="transaksi.pembayaran_transaksi.bukti_pembayaran"
                  width="250"
                  height="250"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
    <div class="float-right mb-4">
      <button class="btn btn-primary" @click="updateTransaksi">
        Simpan Transaksi
      </button>
    </div>
  </Content>
</template>

<script>
import Content from "@/components/Content";
import moment from "moment";
import swal from "sweetalert";
import { mapActions } from "vuex";

export default {
  components: {
    Content,
  },
  data() {
    return {
      id: this.$route.params.id,
      transaksi: {
        pelanggan_id: {
          nama_pelanggan: "",
          email_pelanggan: "",
          alamat_pelanggan: "",
          kecamatan_pelanggan: "",
          kelurahan_pelanggan: "",
        },
        paket_transaksi: {
          nama_paket: "",
          harga_paket: "",
        },
        tanggal_transaksi: {
          dari: "",
          sampai: "",
        },
        total_harga_transaksi: "",
        dp_transaksi: "",
        pembayaran_transaksi: {
          nama_pengirim: "",
          bank_pengirim: "",
          rekening_pengirim: "",
          rekening_tujuan_id: {
            nama_rekening: "",
            no_rekening: "",
            bank: "",
          },
          bukti_pembayaran: "",
        },
      },
      totalHari: "",
    };
  },
  methods: {
    ...mapActions(["get_transaksi", "update_transaksi"]),
    getData() {
      this.get_transaksi(this.id).then((res) => {
        this.transaksi = res;
        this.totalHari =
          (new Date(res.tanggal_transaksi.sampai) - new Date(res.tanggal_transaksi.dari)) /
            (1000 * 3600 * 24) +
          1;

        if (res.pembayaran_transaksi !== undefined) {
          this.transaksi.pembayaran_transaksi.bukti_pembayaran =
            `${process.env.VUE_APP_API_URL}/bukti_pembayaran/` +
            res.pembayaran_transaksi.bukti_pembayaran;
        }
      });
    },
    formatRupiah(angka, prefix) {
      var number_string = angka.toString().replace(/[^,\d]/g, ""),
        split = number_string.split(","),
        sisa = split[0].length % 3,
        rupiah = split[0].substr(0, sisa),
        ribuan = split[0].substr(sisa).match(/\d{3}/gi);

      if (ribuan) {
        let separator = sisa ? "." : "";
        rupiah += separator + ribuan.join(".");
      }

      rupiah = split[1] != undefined ? rupiah + "," + split[1] : rupiah;
      return prefix == undefined ? rupiah : rupiah ? "Rp. " + rupiah : "";
    },
    updateTransaksi() {
      const data = {
        id: this.id,
        status_transaksi: this.transaksi.status_transaksi,
      };
      this.update_transaksi(data)
        .then((res) => {
          swal("Berhasil!", `${res}`, "success")
            .then(() => {
              this.$router.push("/transaksi");
            })
            .catch((err) => {
              this.error = err.response.data.message;
            });
        })
        .catch((err) => {
          swal(
            `Error ${err.response.status}`,
            `${err.response.data.message}`,
            "error"
          );
        });
    },
  },
  mounted() {
    this.getData();
  },
  filters: {
    moment: function(date) {
      return moment(date).format("DD/MM/YYYY");
    },
  },
};
</script>
