<template>
  <Content title="Data Transaksi">
    <div class="card">
      <div class="card-body">
        <table class="table table-striped" id="table">
          <thead>
            <tr>
              <th>No</th>
              <th>No. Transaksi</th>
              <th>Paket</th>
              <th>Pelanggan</th>
              <th>Tanggal Sewa</th>
              <th>Total Harga</th>
              <th>Status</th>
              <th class="text-right">Aksi</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </Content>
</template>

<script>
import $ from "jquery";
import moment from "moment";

import "datatables/media/css/jquery.dataTables.css";
import "datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css";
import "datatables.net-select-bs4/css/select.bootstrap4.min.css";

import "datatables/media/js/jquery.dataTables";
import "datatables.net-responsive-bs4/js/responsive.bootstrap4";
import "datatables.net-select-bs4/js/select.bootstrap4";

import { mapActions } from "vuex";
import Content from "@/components/Content";

export default {
  components: {
    Content,
  },
  data() {
    return {
      dataTable: null,
    };
  },
  methods: {
    ...mapActions(["get_all_transaksi"]),
    getData() {
      this.get_all_transaksi().then((data) => {
        let number = 1;
        data.forEach((data) => {
          this.dataTable.row
            .add([
              number++,
              data.no_transaksi,
              data.paket_transaksi.nama_paket,
              data.pelanggan_id.nama_pelanggan,
              moment(data.tanggal_transaksi.dari).format("DD/MM/YYYY") +
                " - " +
                moment(data.tanggal_transaksi.sampai).format("DD/MM/YYYY"),
              this.formatRupiah(data.total_harga_transaksi, "Rp "),
              `<span ` +
                `class=" ` +
                `${
                  (data.status_transaksi == "Menunggu Konfirmasi Pembayaran" &&
                    "badge badge-info") ||
                  (data.status_transaksi == "Selesai" && "badge badge-success") ||
                  (data.status_transaksi == "Sudah Bayar DP" && "badge badge-primary") ||
                  (data.status_transaksi == "Belum Bayar" && "badge badge-warning") ||
                  (data.status_transaksi == "Dibatalkan" && "badge badge-danger")
                }">${data.status_transaksi}</span>`,
              `<div class="btn-group float-right" role="group">` +
                `<button type="button" class="btn btn-success" id="periksa" itemId="${data._id}">Periksa</button>` +
                `</div>`,
            ])
            .draw(false);
        });
      });
    },
    formatRupiah(angka, prefix) {
      var number_string = angka.toString().replace(/[^,\d]/g, ""),
        split = number_string.split(","),
        sisa = split[0].length % 3,
        rupiah = split[0].substr(0, sisa),
        ribuan = split[0].substr(sisa).match(/\d{3}/gi);

      if (ribuan) {
        let separator = sisa ? "." : "";
        rupiah += separator + ribuan.join(".");
      }

      rupiah = split[1] != undefined ? rupiah + "," + split[1] : rupiah;
      return prefix == undefined ? rupiah : rupiah ? "Rp. " + rupiah : "";
    },
    refreshDataTable() {
      this.dataTable.rows().remove().draw();
      this.getData();
      return;
    },
  },
  mounted() {
    const self = this;
    this.dataTable = $("#table").DataTable({
      responsive: true,
    });
    this.getData();
    $("#table tbody").on("click", "#periksa", function () {
      let itemId = $(this).attr("itemId");
      self.$router.push(`/transaksi/${itemId}`);
    });
  },
};
</script>

<style>
/* Temporarily Hide Ugly Black Background At Navigation */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: none !important;
  background-color: transparent !important;
  background: transparent !important;
}
</style>
