<template>
  <div>
    <Title title="Galeri" />

    <select
      v-model="pilihGaleri"
      @change="ambilFoto"
      class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
    >
      <option v-for="(item, index) in galeri" :key="index" :value="index">
        {{ item.judul_galeri }}
      </option>
    </select>

    <Gallery v-if="galeriLoaded" :images="images" />

    <Loading v-else />
  </div>
</template>

<script>
export default {
  head: {
    title: "Galeri — JMAudio"
  },
  data() {
    return {
      galeri: null,
      galeriLoaded: false,
      pilihGaleri: 0,
      images: []
    };
  },
  methods: {
    getData() {
      this.$store.dispatch("galeri/getAllGaleri").then(res => {
        this.galeri = res;
        this.galeriLoaded = true;

        this.galeri[this.pilihGaleri].foto_galeri.map(item => {
          this.images.push(this.$config.serverURL + "/galeri/" + item.file);
        });
      });
    },
    ambilFoto() {
      this.images = [];
      this.galeri[this.pilihGaleri].foto_galeri.map(item => {
        this.images.push(this.$config.serverURL + "/galeri/" + item.file);
      });
    }
  },
  mounted() {
    this.getData();
  }
};
</script>
