<template>
  <div>
    <HeroHome />
    <img class="mx-auto" :src="brand" />
    <Title title="Galeri" />
    <Gallery v-if="imagesLoaded" :images="images" />
    <Loading v-else />
  </div>
</template>

<script>
import BrandLogo from "../assets/img/brand_logo.png";

export default {
  head: {
    title: "Beranda — JMAudio"
  },
  data() {
    return {
      images: [],
      imagesLoaded: false,
      brand: BrandLogo
    };
  },
  methods: {
    getData() {
      this.$store.dispatch("galeri/getAllGaleri").then(res => {
        res[0].foto_galeri.map(item => {
          this.images.push(this.$config.serverURL + "/galeri/" + item.file);
        });
        this.imagesLoaded = true;
      });
    }
  },
  mounted() {
    this.getData();
  }
};
</script>
