<template>
  <div v-if="dataLoaded">
    <Title title="Profil Saya" />
    <div class="lg:px-4 flex flex-col">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
            <div>
              <div class="mb-6">
                <label
                  class="block mb-2 text-sm text-gray-600 dark:text-gray-400"
                  >Surel</label
                >
                <input
                  type="email"
                  placeholder="nama@gmail.com"
                  class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
                  v-model="user.email_pelanggan"
                />
              </div>
              <div class="mb-6">
                <label
                  class="block mb-2 text-sm text-gray-600 dark:text-gray-400"
                  >Kecamatan</label
                >
                <input
                  type="text"
                  placeholder="Pamulang"
                  class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
                  v-model="user.kecamatan_pelanggan"
                />
              </div>

              <div class="mb-6">
                <label
                  class="block mb-2 text-sm text-gray-600 dark:text-gray-400"
                  >Kelurahan</label
                >
                <input
                  type="text"
                  placeholder="Benda Baru"
                  class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
                  v-model="user.kelurahan_pelanggan"
                />
              </div>
            </div>
            <div>
              <div class="mb-6">
                <label
                  class="block mb-2 text-sm text-gray-600 dark:text-gray-400"
                  >Nama</label
                >
                <input
                  type="text"
                  placeholder="Joko Susanto"
                  class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
                  v-model="user.nama_pelanggan"
                />
              </div>

              <div class="mb-6">
                <label
                  class="block mb-2 text-sm text-gray-600 dark:text-gray-400"
                  >Nomor Telepon</label
                >
                <cleave
                  v-model="user.nomor_telepon_pelanggan"
                  :options="options"
                  class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
                  placeholder="085123456789"
                />
              </div>

              <div class="mb-6">
                <div class="flex justify-between mb-2">
                  <label class="text-sm text-gray-600 dark:text-gray-400"
                    >Alamat</label
                  >
                </div>
                <textarea
                  class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
                  v-model="user.alamat_pelanggan"
                >
                </textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="float-right">
      <div class="card bg-white py-3 px-5 rounded-xl flex flex-col mb-5">
        <div class="w-full py-3">
          <div class="inline-block mr-2 mt-2">
            <button
              type="button"
              class="focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-green-500 hover:bg-green-600 hover:shadow-lg"
              @click="gantiPasswordPopUp"
            >
              Ganti Password
            </button>
          </div>
          <div class="inline-block mr-2 mt-2">
            <button
              type="button"
              class="focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-blue-500 hover:bg-blue-600 hover:shadow-lg"
              @click="updateUser"
            >
              Simpan
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <Loading v-else />
</template>

<script>
import Swal from "sweetalert2";
import { mapGetters } from "vuex";
import Cleave from "vue-cleave-component";
import "cleave.js/dist/addons/cleave-phone.id";

export default {
  head: {
    title: "Profil — JMAudio"
  },
  middleware: ["auth"],
  computed: {
    ...mapGetters(["loggedInUser"])
  },
  components: {
    Cleave
  },
  data() {
    return {
      dataLoaded: false,
      user: [],
      password: "",
      newPass: "",
      options: {
        phone: true,
        phoneRegionCode: "ID"
      }
    };
  },
  methods: {
    getData() {
      this.user = JSON.parse(JSON.stringify(this.loggedInUser));
      this.dataLoaded = true;
    },
    updateUser() {
      if (this.validateBeforeSend()) {
        let data = this.user;
        delete data["password_user"];

        this.$store
          .dispatch("updateUser", this.user)
          .then(res => {
            Swal.fire("Berhasil", `${res}`, "success");
          })
          .catch(err => {
            Swal.fire("Error", `${err}`, "error");
          });
      } else {
        this.error = "Harap mengisi semua form yang disediakan.";
      }
    },
    gantiPasswordPopUp() {
      let ini = this;
      Swal.fire({
        title: "Ganti Password",
        showCancelButton: true,
        confirmButtonText: "Ganti Password",
        cancelButtonText: "Batal",
        html:
          '<label>Password Lama</label><input type="password" id="swal-input1" class="swal2-input">' +
          '<label>Password Baru</label><input type="password" id="swal-input2" class="swal2-input">',
        preConfirm: function() {
          return new Promise(function(resolve) {
            resolve([
              document.getElementById("swal-input1").value,
              document.getElementById("swal-input2").value
            ]);
          });
        }
      })
        .then(function(result) {
          if (result.isConfirmed) {
            const data = {
              password_pelanggan: result.value[0],
              newPass: result.value[1]
            };

            ini.$store
              .dispatch("updatePassword", data)
              .then(res => {
                Swal.fire("Berhasil", `${res}`, "success");
              })
              .catch(err => {
                Swal.fire("Error", "Password lama tidak cocok.", "error");
              });
          }
        })
        .catch(Swal.noop);
    },
    validateBeforeSend() {
      if (
        this.user.nama_pelanggan == "" ||
        this.user.alamat_pelanggan == "" ||
        this.user.kecamatan_pelanggan == "" ||
        this.user.kelurahan_pelanggan == "" ||
        this.user.email_pelanggan == "" ||
        this.user.nomor_telepon_pelanggan == ""
      ) {
        return false;
      }
      return true;
    }
  },
  mounted() {
    this.getData();
  }
};
</script>
