<template>
  <div>
    <Title title="Tentang" />
    <p class="mx-10 text-xl">
      JMAudio merupakan perusahaan penyewaat alat audio sistem untuk keperluan
      pesta, perayaan, band, dan lain sebagainya yang berlokasi di Tangerang
      Selatan, Banten. JMAudio menawarkan perangkat audio sistem dari merek
      ternama seperti Yamaha dan JBL yang dapat memberikan kualitas audio yang
      lebih baik.
    </p>
    <p class="mx-10 text-xl mt-10">
      Jangan ragu untuk menghubungi kami melalui Whatsapp: (+62) 123 456 789
    </p>
  </div>
</template>

<script>
export default {
  head: {
    title: "Tentang — JMAudio"
  }
};
</script>
