<template>
  <Content title="Beranda">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="card card-statistic-1">
          <div class="card-icon bg-primary">
            <i class="far fa-user"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h4>Total Pelanggan</h4>
            </div>
            <div class="card-body">{{ totalPelanggan }}</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="card card-statistic-1">
          <div class="card-icon bg-danger">
            <i class="fas fa-shopping-cart"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h4>Total Transaksi Bulan Ini</h4>
            </div>
            <div class="card-body">{{ totalTransaksiBulanIni }}</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="card card-statistic-1">
          <div class="card-icon bg-warning">
            <i class="fas fa-box"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h4>Total Barang</h4>
            </div>
            <div class="card-body">{{ totalBarang }}</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="card card-statistic-1">
          <div class="card-icon bg-success">
            <i class="fas fa-boxes"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h4>Total Paket</h4>
            </div>
            <div class="card-body">{{ totalPaket }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h4>Transaksi bulan ini</h4>
        <div class="card-header-action">
          <router-link to="transaksi/" class="btn btn-danger">
            Selengkapnya <i class="fas fa-chevron-right"></i>
          </router-link>
        </div>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive table-invoice">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th>No Transaksi</th>
                <th>Pelanggan</th>
                <th>Status</th>
                <th>Tanggal</th>
                <th>Aksi</th>
              </tr>
              <tr v-for="(transaksi, index) in transaksiBulanIni" :key="index">
                <td>
                  <a href="#">{{ transaksi.no_transaksi }}</a>
                </td>
                <td class="font-weight-600">
                  {{ transaksi.pelanggan_id.nama_pelanggan }}
                </td>
                <td>
                  <div
                    class="badge"
                    :class="
                      (transaksi.status_transaksi == 'Menunggu Konfirmasi Pembayaran' &&
                        'badge-info') ||
                      (transaksi.status_transaksi == 'Selesai' && ' badge-success') ||
                      (transaksi.status_transaksi == 'Sudah Bayar DP' &&
                        'badge badge-primary') ||
                      (transaksi.status_transaksi == 'Belum Bayar' &&
                        'badge badge-warning') ||
                      (transaksi.status_transaksi == 'Dibatalkan' && 'badge badge-danger')
                    "
                  >
                    {{ transaksi.status_transaksi }}
                  </div>
                </td>
                <td>{{ transaksi.createdAt | moment }}</td>
                <td>
                  <router-link
                    :to="'transaksi/' + transaksi._id"
                    class="btn btn-primary"
                  >
                    Detail
                  </router-link>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </Content>
</template>

<script>
import moment from "moment";
import Content from "@/components/Content";
import { mapActions } from "vuex";

export default {
  components: {
    Content,
  },
  data() {
    return {
      totalPelanggan: "",
      totalBarang: "",
      totalPaket: "",
      totalTransaksiBulanIni: "",
      transaksiBulanIni: null,
    };
  },
  methods: {
    ...mapActions([
      "get_transaksi_bulan_ini",
      "get_total_barang",
      "get_total_paket",
      "get_total_pelanggan",
    ]),
    getData() {
      this.get_transaksi_bulan_ini().then((res) => {
        this.totalTransaksiBulanIni = res.length;
        this.transaksiBulanIni = res;
      });
      this.get_total_pelanggan().then((res) => {
        this.totalPelanggan = res;
      });
      this.get_total_barang().then((res) => {
        this.totalBarang = res;
      });
      this.get_total_paket().then((res) => {
        this.totalPaket = res;
      });
    },
  },
  mounted() {
    this.getData();
  },
  filters: {
    moment: function (date) {
      return moment(date).format("DD/MM/YYYY");
    },
  },
};
</script>
