<template>
  <div>
    <div v-if="dataLoaded" class="px-4">
      <Title :title="'Transaksi ' + transaksi.no_transaksi" />
      <h2 class="font-medium font-sans py-2">Sewa:</h2>
      <div class="lg:grid lg:grid-cols-2 lg:gap-4 lg:max-w-lg">
        <div class="px-4">
          <p class="py-2">Dari Tanggal:</p>
          <input
            type="text"
            class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300"
            :value="$moment(transaksi.tanggal_transaksi.dari).format('DD/MM/YYYY')"
            disabled
          />
        </div>
        <div class="px-4">
          <p class="py-2">Sampai Tanggal:</p>
          <input
            type="text"
            class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300"
            :value="$moment(transaksi.tanggal_transaksi.sampai).format('DD/MM/YYYY')"
            disabled
          />
        </div>
      </div>

      <h2 class="font-medium font-sans py-4">Detail Pemesanan:</h2>
      <div class="text-gray-700">
        <div class="grid md:grid-cols-2 text-sm">
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Nama Paket</div>
            <div class="px-4 py-2">{{ transaksi.paket_transaksi.nama_paket }}</div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Watt</div>
            <div class="px-4 py-2">
              {{ transaksi.paket_transaksi.watt_paket }}
            </div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Harga</div>
            <div class="px-4 py-2">
              {{ transaksi.paket_transaksi.harga_paket | rupiah }}/hari
            </div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Status</div>
            <div class="px-4 py-2">
              <span
                class="leading-5 font-semibold"
                :class="
                  (transaksi.status_transaksi == 'Menunggu Konfirmasi Pembayaran' &&
                    'text-pink-800') ||
                    (transaksi.status_transaksi == 'Selesai' && 'text-green-800') ||
                    (transaksi.status_transaksi == 'Sudah Bayar DP' && 'text-blue-800') ||
                    (transaksi.status_transaksi == 'Belum Bayar' && 'text-yellow-800') ||
                    (transaksi.status_transaksi == 'Dibatalkan' && 'text-red-800')
                "
              >
                {{ transaksi.status_transaksi }}
              </span>
            </div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Total Harga</div>
            <div class="px-4 py-2">
              {{ transaksi.total_harga_transaksi | rupiah }} (DP: {{ transaksi.dp_transaksi | rupiah }})
            </div>
          </div>
        </div>
        <div class="px-4 py-2 font-semibold text-sm">
          Catatan Pemesanan (Jika ada)
        </div>
        <div class="px-4 py-2">
          <textarea
            class="w-4/12 px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300"
            :value="transaksi.catatan_transaksi"
            disabled
          >
          </textarea>
        </div>
      </div>

      <h2 class="font-medium font-sans py-4">Pembayaran:</h2>
      <div class="px-4 pb-4">
        <div class="flex flex-wrap overflow-hidden xl:-mx-5">
          <div class="w-full overflow-hidden lg:w-1/2 xl:my-5 xl:px-5 xl:w-1/2">
            <div class="mb-6">
              <label class="block mb-2 text-sm text-gray-600 dark:text-gray-400"
                >Nama Pengirim</label
              >
              <input
                type="text"
                placeholder="Joko"
                class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300"
                v-model="pembayaran_transaksi.nama_pengirim"
                :readonly="!editable"
              />
            </div>
            <div class="mb-6">
              <label class="block mb-2 text-sm text-gray-600 dark:text-gray-400"
                >Nomor Rekening Pengirim</label
              >
              <cleave
                :options="options"
                class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300"
                v-model="pembayaran_transaksi.rekening_pengirim"
                :readonly="!editable"
              />
            </div>
            <div class="mb-6">
              <label class="block mb-2 text-sm text-gray-600 dark:text-gray-400"
                >Bank Pengirim</label
              >
              <select
                class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300"
                v-model="pembayaran_transaksi.bank_pengirim"
                :readonly="!editable"
              >
                <option
                  v-for="(bp, index) in bank_pengirim"
                  :key="index"
                  :value="bp.nama_bank"
                >
                  {{ bp.nama_bank }}
                </option>
              </select>
            </div>
            <div class="mb-6">
              <label class="block mb-2 text-sm text-gray-600 dark:text-gray-400"
                >Rekening Tujuan</label
              >
              <select
                class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300"
                v-model="pembayaran_transaksi.rekening_tujuan_id"
                :readonly="!editable"
              >
                <option v-for="(r, index) in rekening" :key="index" :value="r._id">
                  {{ r.bank }}
                  a/n
                  {{ r.nama_rekening }}
                  -
                  {{ r.no_rekening }}
                </option>
              </select>
            </div>
          </div>

          <div class="w-full overflow-hidden lg:w-1/2 xl:my-5 xl:px-5 xl:w-1/2">
            <div class="mb-6">
              <label class="block mb-2 text-sm text-gray-600 dark:text-gray-400"
                >Bukti Pembayaran</label
              >
              <input
                type="file"
                class="w-full px-3 py-1.5 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300"
                @change="onFileChange"
                accept="image/*"
              />
            </div>
            <div id="preview">
              <img
                v-if="url"
                :src="url"
                class="rounded"
                width="250"
                height="250"
              />
            </div>
          </div>
        </div>
        <div class="text-right">
          <button
            v-if="batalkanTransaksi"
            class="lg:w-1/6 px-2 py-2 text-white bg-red-500 rounded-full focus:bg-red-600 focus:outline-none"
            @click="batalkanPesanan"
          >
            Batalkan Pesanan
          </button>
          <button
            v-if="editable"
            class="lg:w-1/6 px-2 py-2 text-white bg-indigo-500 rounded-full focus:bg-indigo-600 focus:outline-none"
            @click="simpanPembayaran"
          >
            Simpan Pembayaran
          </button>
        </div>
      </div>
    </div>

    <Loading v-else />
  </div>
</template>

<script>
import Cleave from "vue-cleave-component";
import Swal from "sweetalert2";
import Bank from "../../assets/bank.json";

export default {
  head() {
    return {
      title: `Transaksi ${this.transaksi.no_transaksi} — JMAudio`
    };
  },
  middleware: ["auth"],
  components: {
    Cleave
  },
  data() {
    return {
      id: this.$route.params.id,
      editable: false,
      dataLoaded: false,
      batalkanTransaksi: true,
      transaksi: [],
      rekening: [],
      url: null,
      bank_pengirim: Bank,
      pembayaran_transaksi: {
        id: this.$route.params.id,
        nama_pengirim: "",
        rekening_pengirim: "",
        bank_pengirim: "",
        rekening_tujuan_id: "",
        bukti_pembayaran: ""
      },
      selectedImage: null,
      options: {
        creditCard: true
      }
    };
  },
  methods: {
    onFileChange(e) {
      const file = e.target.files[0];
      this.url = URL.createObjectURL(file);
      this.selectedImage = e.target.files[0];
    },
    async getRekening() {
      await this.$store.dispatch("rekening/getAllRekening").then(res => {
        this.rekening = res;
      });
    },
    async getData() {
      this.getRekening();
      await this.$store
        .dispatch("transaksi/getTransaksi", this.id)
        .then(res => {
          this.transaksi = res;
          this.dataLoaded = true;

          if (res.pembayaran_transaksi) {
            this.pembayaran_transaksi.nama_pengirim = res.pembayaran_transaksi.nama_pengirim;
            this.pembayaran_transaksi.rekening_pengirim =
              res.pembayaran_transaksi.rekening_pengirim;
            this.pembayaran_transaksi.bank_pengirim = res.pembayaran_transaksi.bank_pengirim;
            this.pembayaran_transaksi.rekening_tujuan_id =
              res.pembayaran_transaksi.rekening_tujuan_id._id;
            this.url =
              `${this.$config.serverURL}/bukti_pembayaran/` +
              res.pembayaran_transaksi.bukti_pembayaran;
          }

          this.editable =
            res.status_transaksi == "Belum Bayar" ||
            res.status_transaksi == "Menunggu Konfirmasi Pembayaran";

          this.batalkanTransaksi = res.status_transaksi == "Belum Bayar";
        });
    },
    validasiSebelumKirim() {
      if (
        this.pembayaran_transaksi.nama_pengirim == "" ||
        this.pembayaran_transaksi.bank_pengirim == "" ||
        this.pembayaran_transaksi.rekening_pengirim == "" ||
        this.pembayaran_transaksi.rekening_tujuan_id == "" ||
        this.url == null
      ) {
        return false;
      }
      return true;
    },
    simpanPembayaran() {
      if (this.validasiSebelumKirim()) {
        const data = new FormData();
        data.set("id", this.id);
        data.set("pembayaran_transaksi.nama_pengirim", this.pembayaran_transaksi.nama_pengirim);
        data.set("pembayaran_transaksi.bank_pengirim", this.pembayaran_transaksi.bank_pengirim);
        data.set(
          "pembayaran_transaksi.rekening_pengirim",
          this.pembayaran_transaksi.rekening_pengirim
        );
        data.set("pembayaran_transaksi.rekening_tujuan_id", this.pembayaran_transaksi.rekening_tujuan_id);
        this.selectedImage &&
          data.append(
            "pembayaran_transaksi.bukti_pembayaran",
            this.selectedImage,
            this.selectedImage.name
          );
        this.$store
          .dispatch("transaksi/updateTransaksi", data)
          .then(res => {
            Swal.fire("Berhasil", `${res}`, "success");
            this.getData();
          })
          .catch(err => {
            Swal.fire("Error", `${err}`, "error");
          });
      } else {
        Swal.fire(
          "Error",
          "Harap mengisi semua form yang disediakan.",
          "error"
        );
      }
    },
    batalkanPesanan() {
      Swal.fire({
        title: "Batalkan transaksi?",
        text: "Anda harus memesan ulang jika pesanan dibatalkan.",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Batalkan Pesanan",
        cancelButtonText: "Batal"
      }).then(result => {
        if (result.isConfirmed) {
          this.$store
            .dispatch("transaksi/batalkanTransaksi", this.id)
            .then(res => {
              Swal.fire("Berhasil", `${res}`, "success").then(() => {
                this.$router.push("/transaksi");
              });
            })
            .catch(err => {
              Swal.fire("Error", `${err}`, "error");
            });
        }
      });
    }
  },
  async mounted() {
    await this.getData();
  }
};
</script>
