<template>
  <div v-if="dataLoaded">
    <Title title="Transaksi Saya" />
    <div v-if="adaTransaksi" class="lg:px-4 flex flex-col">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div
            class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
          >
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th
                    scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    No. Transaksi
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Informasi
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Status
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Total Harga
                  </th>
                  <th scope="col" class="relative px-6 py-3">
                    <span class="sr-only">Detail</span>
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                <tr v-for="item in transaksi" :key="item._id">
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="text-sm font-medium text-gray-900">
                        {{ item.no_transaksi }}
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-900">
                      {{ item.paket_transaksi.nama_paket }}
                    </div>
                    <div class="text-sm text-gray-500">
                      {{ $moment(item.tanggal_transaksi.dari).format("DD/MM/YYYY") }} -
                      {{ $moment(item.tanggal_transaksi.sampai).format("DD/MM/YYYY") }}
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <span
                      class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full"
                      :class="
                        (item.status_transaksi == 'Menunggu Konfirmasi Pembayaran' &&
                          'bg-pink-100 text-pink-800') ||
                        (item.status_transaksi == 'Selesai' &&
                          'bg-green-100 text-green-800') ||
                        (item.status_transaksi == 'Sudah Bayar DP' &&
                          'bg-blue-100 text-blue-800') ||
                        (item.status_transaksi == 'Belum Bayar' &&
                          'bg-yellow-100 text-yellow-800') ||
                        (item.status_transaksi == 'Dibatalkan' &&
                          'bg-red-100 text-red-800')
                      "
                    >
                      {{ item.status_transaksi }}
                    </span>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    {{ item.total_harga_transaksi | rupiah }}
                  </td>
                  <td
                    class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium"
                  >
                    <nuxt-link
                      :to="'/transaksi/' + item._id"
                      class="text-indigo-600 hover:text-indigo-900"
                      >Detail</nuxt-link
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div v-else class="min-w-full">
      <img class="my-6 object-contain h-96 w-full" :src="noData" />
      <div class="text-center py-4 text-xl">
        <p>Kamu belum pernah bertransaksi :(</p>
      </div>
    </div>
  </div>
  <Loading v-else />
</template>

<script>
import NoData from "@/assets/img/no_data.svg";

export default {
  head: {
    title: "Transaksi Saya — JMAudio",
  },
  middleware: ["auth"],
  data() {
    return {
      transaksi: [],
      adaTransaksi: true,
      noData: NoData,
      dataLoaded: false,
    };
  },
  methods: {
    getData() {
      this.$store.dispatch("transaksi/getAllTransaksi").then((res) => {
        this.transaksi = res;
        if (res.length < 1) this.adaTransaksi = false;
        this.dataLoaded = true;
      });
    },
  },
  mounted() {
    this.getData();
  },
};
</script>