<template>
  <Content title="Tambah Galeri">
    <div class="alert alert-danger alert-dismissible show fade" v-if="error">
      <div class="alert-body">
        <button class="close" data-dismiss="alert">
          <span>×</span>
        </button>
        {{ error }}
      </div>
    </div>
    <div class="card shadow">
      <div class="card-body">
        <div class="form-group">
          <label>Judul</label>
          <input type="text" class="form-control" v-model="judul" />
        </div>
        <div class="form-group">
          <label>Keterangan</label>
          <textarea id="summernote" v-model="keterangan"></textarea>
        </div>
        <label>Foto</label>
        <vue-dropzone
          ref="myVueDropzone"
          id="customdropzone"
          :options="dropzoneOptions"
          :useCustomSlot="true"
          v-on:vdropzone-files-added="(file) => processFoto(file)"
          v-on:vdropzone-removed-file="(file) => hapusFoto(file)"
        >
          <div class="dropzone-custom-content">
            <h3 class="dropzone-custom-title">
              Drag and drop to upload content!
            </h3>
            <div class="subtitle">
              ...or click to select a file from your computer
            </div>
          </div>
        </vue-dropzone>
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-primary" @click="processItem">Simpan</button>
      </div>
    </div>
  </Content>
</template>

<script>
import $ from "jquery";
import Content from "@/components/Content";
import { mapActions } from "vuex";

import vue2Dropzone from "vue2-dropzone";
import swal from "sweetalert";

import "summernote/dist/summernote-bs4.css";
import "summernote/dist/summernote-bs4";

export default {
  components: {
    Content,
    vueDropzone: vue2Dropzone,
  },
  data: function () {
    return {
      dropzoneOptions: {
        url: "#",
        thumbnailWidth: 150,
        maxFilesize: 0.5,
        addRemoveLinks: true,
        autoProcessQueue: false,
      },
      files: [],
      judul: null,
      keterangan: null,
      error: null,
    };
  },
  methods: {
    ...mapActions(["create_new_galeri"]),
    processFoto(files) {
      for (let i = 0; i < files.length; i++) {
        this.files.push(files[i]);
      }
    },
    hapusFoto(file) {
      this.files.map((item, index) => {
        if (item.name == file.upload.filename) {
          this.files.splice(index, 1);
        }
      });
    },
    processItem() {
      if (this.validateBeforeSendData()) {
        const data = new FormData();
        data.set("judul_galeri", this.judul);
        data.set("keterangan_galeri", this.keterangan);

        // Looping files
        this.files.map((item) => {
          data.append("file", item, item.name);
        });

        // Kirim ke backend
        this.create_new_galeri(data)
          .then((res) => {
            swal("Berhasil!", `${res}`, "success")
              .then(() => {
                this.$router.push("/galeri");
              })
              .catch((err) => {
                this.error = err.response.data.message;
              });
          })
          .catch((err) => {
            swal(
              `Error ${err.response.status}`,
              `${err.response.data.message}`,
              "error"
            );
          });
      } else {
        this.error = "Harap isi semua form yang disediakan!";
      }
    },
    validateBeforeSendData() {
      if (this.judul == "" || this.keterangan == "" || this.files == "") {
        return false;
      } else {
        return true;
      }
    },
    summerNote() {
      const vm = this;
      const options = {
        lang: "id-ID",
        height: 200,
        dialogsInBody: true,
        fontSizes: [
          "8",
          "9",
          "10",
          "11",
          "12",
          "13",
          "14",
          "15",
          "16",
          "18",
          "20",
          "24",
          "30",
          "36",
          "48",
          "64",
          "82",
          "150",
        ],
        toolbar: [
          [
            "font",
            [
              "bold",
              "underline",
              "clear",
              "strikethrough",
              "superscript",
              "subscript",
            ],
          ],
          ["fontname", ["fontname"]],
          ["table", ["table"]],
          ["color", ["color"]],
          ["insert", ["link"]],
          ["fontsize", ["fontsize"]],
        ],
      };
      options.callbacks = {
        onChange(contents) {
          vm.$emit("input", contents);
          vm.keterangan = contents;
        },
      };

      $("textarea#summernote").summernote(options);
    },
  },
  mounted() {
    this.summerNote();
  },
};
</script>

<style>
#customdropzone {
  box-sizing: border-box;
  min-height: 150px;
  background: white;
  padding: 20px 20px;
  border: 2px dashed #6777ef;
  min-height: 240px;
  text-align: center;
}

#customdropzone .dz-preview {
  width: 160px;
  display: inline-block;
}
#customdropzone .dz-preview .dz-image {
  width: 80px;
  height: 80px;
  margin-left: 40px;
  margin-bottom: 10px;
}
#customdropzone .dz-preview .dz-image > div {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  background-size: contain;
}
#customdropzone .dz-preview .dz-image > img {
  width: 100%;
}

#customdropzone .dz-preview .dz-details {
  color: #000;
  transition: opacity 0.2s linear;
  text-align: center;
}
#customdropzone .dz-success-mark,
.dz-error-mark,
.dz-started .dz-message {
  display: none;
}
</style>
